Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

Bump version of cornflow-client on requirements and updated changelogs
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/requirements.txt
  libs/client/changelog.rst
Due: server, client, dags

Updated workflow
  .github/workflows/cornflow-publish-to-pypi.yml
Due: none

Bump version
  cornflow-server/setup.py
Due: server

small change
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
Due: server

bump version
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/setup.py
Due: server

Refactor ExecutionEndpoint post action
  cornflow-server/cornflow/endpoints/execution_databricks.py
Due: server

Add TestingDatabricks configuration and enhance execution tests for Databricks integration
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/execution_databricks.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/cornflow/tests/unit/tools.py
Due: server

Additional tests
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: none

Update Databricks API to include execution_id in job parameters for enhanced payload handling
  libs/client/cornflow_client/databricks/api.py
Due: client

Some more check for status handling of the execution
  cornflow-server/cornflow/endpoints/execution.py
Due: server

Bump gunicorn and cryptography for security reasons
  cornflow-server/requirements.txt
Due: server

Solving test problems
  cornflow-server/cornflow/commands/dag.py
  cornflow-server/cornflow/tests/data/patch_databricks_get_orch_info.json
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/cornflow/tests/unit/tools.py
  libs/client/cornflow_client/databricks/api.py
Due: server, client

All tests passing
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_commands.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/cornflow/tests/unit/test_schemas.py
  cornflow-server/cornflow/tests/unit/tools.py
Due: server

Needed refactoring
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/execution_databricks.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/cornflow/tests/unit/tools.py
Due: server

Bump gunicorn and cryptography for security reasons (#622)
  cornflow-server/requirements.txt
Due: server

Bump versions to 1.2.1
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/config.cfg
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

Deleted unneeded file
  cornflow-server/config.cfg
Due: server

Missing file
  cornflow-server/cornflow/tests/data/patch_databricks_get_run_status.json
Due: none

small changes
  libs/client/cornflow_client/airflow/api.py
  libs/client/cornflow_client/databricks/api.py
Due: client

small change
  cornflow-server/cornflow/endpoints/execution.py
Due: server
