Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

solving issue 578
  cornflow-server/cornflow/tests/unit/test_dags.py
  cornflow-server/cornflow/tests/unit/test_schema_from_models.py
Due: none

Comment test_schema_from_models.py
  cornflow-server/cornflow/tests/unit/test_schema_from_models.py
Due: none

Add new tests
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

Add comments and change assertEqual.
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

Changes to add external openid auth
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/const.py
Due: server

Changes for using sub
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/endpoints/login.py
Due: server

Add comment
  libs/client/cornflow_client/core/experiment.py
Due: client

Changes to init_service
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/commands/permissions.py
Due: server

Fixed small error
  cornflow-server/cornflow/endpoints/execution_databricks.py
Due: server

Small error
  cornflow-server/cornflow/commands/permissions.py
Due: server

Changes to allow external apps to define extra permissions on default roles on the endpoints from the external app.
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/endpoints/execution_databricks.py
Due: server

Updated workflows fromd evelop
  .github/workflows/build_docs.yml
  .github/workflows/cornflow-client-publish-to-pypi.yml
  .github/workflows/cornflow-publish-to-pypi.yml
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
Due: none

Fixed unit tests
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/endpoints/execution_databricks.py
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/cornflow/tests/unit/test_health.py
Due: server

Corrections for using constants Tests of new auth Logs for login endpoint. Fix service user Fix decode token for internal tokens
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
Due: server

Minor fixes and redifined tests
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
Due: server

Fixed missing import
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/shared/const.py
Due: server

Fixed error?
  cornflow-server/cornflow/endpoints/execution_databricks.py
  cornflow-server/cornflow/shared/databricks.py
  cornflow-server/cornflow/tests/integration/test_cornflowclient.py
  libs/client/cornflow_client/airflow/api.py
  libs/client/cornflow_client/databricks/api.py
Due: server, client

solving issue 578 (#604)
  cornflow-server/cornflow/tests/unit/test_dags.py
Due: none

Try to bump version on setup so that github actions properly picks up branch version
  libs/client/setup.py
Due: client

Fixed last test?
  libs/client/cornflow_client/tests/integration/test_cornflow_integration.py
Due: client

Now it should work
  libs/client/cornflow_client/tests/integration/test_raw_cornflow_integration.py
Due: client

bump version
  cornflow-server/Dockerfile
  cornflow-server/setup.py
Due: server

bump version
  libs/client/setup.py
Due: client

bump version
  cornflow-server/Dockerfile
  cornflow-server/requirements.txt
  cornflow-server/setup.py
Due: server

Fixed probable error on offset filter
  cornflow-server/cornflow/models/meta_models.py
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

Path conditions:
  server: any of: cornflow-server/**, but not: cornflow-server/cornflow/tests/**
  client: any of: libs/client/**, but not: libs/client/tests/**
  dags: any of: cornflow-dags/**, but not: cornflow-dags/tests/**
