Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

Fix un-interpolated MAIN_WD in SSH config command
  cornflow-server/cornflow/cli/service.py
Due: server

Harden SSH-registration helpers (no shell, no injection)
  cornflow-server/cornflow/cli/service.py
Due: server

Disable SQLALCHEMY_TRACK_MODIFICATIONS by default
  cornflow-server/cornflow/config.py
Due: server

Remove duplicate email body attachment
  cornflow-server/cornflow/shared/email.py
Due: server

Validate Databricks env vars with a clear error
  cornflow-server/cornflow/cli/service.py
Due: server

Guard put_detail/patch_detail against a missing user kwarg
  cornflow-server/cornflow/endpoints/meta_resource.py
Due: server

Use named execution-state constants instead of magic numbers
  cornflow-server/cornflow/endpoints/execution.py
Due: server

Add unit test for login timing equalization
  cornflow-server/cornflow/tests/unit/test_log_in.py
Due: none

Fix client integration tests: activate airflow venv and harden DAG registration
  .github/workflows/test_cornflow_client.yml
Due: none

Use in-repo cornflow-client in cornflow-dags (uv source)
  cornflow-dags/pyproject.toml
  cornflow-dags/uv.lock
Due: dags

bump cornflow
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/changelog.rst
Due: server, client, dags

Feature/update develop (#747)
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client, dags

Pin cornflow-dags deps to published cornflow-client 1.3.5 (drop local uv source)
  cornflow-dags/pyproject.toml
  cornflow-dags/uv.lock
Due: dags

Remove redundant cornflow-dags/requirements.txt (uv uses pyproject)
  cornflow-dags/requirements.txt
Due: dags

feat: register Core routes under /cornflow/ Blueprint, plugins register at root
  cornflow-server/cornflow/app.py
Due: server

fix:
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/commands/views.py
Due: server

feat:
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

feat: EXTERNAL_APP=1 uses DispatcherMiddleware (legacy), EXTERNAL_APP=0 uses plugin discovery
  cornflow-server/cornflow/app.py
Due: server

bump client
  libs/client/setup.py
Due: client

bump cornflow
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: server, dags

Avoid loading data column in execution list endpoint
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/tests/base_test_execution.py
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: server

Clean up execution list data loading tests
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: none

bump cornflow client
  libs/client/changelog.rst
  libs/client/setup.py
Due: client

update requirements.txt
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/requirements.txt
Due: server

update requirements.txt (#750)
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/requirements.txt
Due: server

Avoid loading data column in execution list endpoint (#749)
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/base_test_execution.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client, dags

delete
  .claude/settings.json
Due: none

Release/v1.3.6 (#751)
  .claude/settings.json
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/base_test_execution.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/setup.py
Due: server, client, dags

bump client
  libs/client/changelog.rst
Due: client

bump cornflow
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
Due: server, dags

Add missing changelog
  cornflow-server/changelog.rst
Due: server

Defer loading of heavy columns in instance and execution detail endpoints
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/instance.py
  cornflow-server/cornflow/models/base_data_model.py
  cornflow-server/cornflow/models/case.py
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/models/instance.py
  cornflow-server/cornflow/schemas/execution.py
Due: server

Fix N+1 query and duplicated access-control logic from defer_data change
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/models/base_data_model.py
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/models/instance.py
Due: server

fake change to trigger client test
  libs/client/cornflow_client/core/application.py
Due: client

bump cornflow
  libs/client/changelog.rst
  libs/client/setup.py
Due: client

Enhanced logging configuration through environment variables￼
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/gunicorn.py
  cornflow-server/cornflow/shared/cloud_logging.py
  cornflow-server/cornflow/shared/log_config.py
  cornflow-server/cornflow/tests/unit/test_log_config.py
  cornflow-server/setup.py
  docs/source/deploy/logs.rst
Due: server

Path conditions:
  server: any of: cornflow-server/**, but not: cornflow-server/cornflow/tests/**
  client: any of: libs/client/**, but not: libs/client/tests/**
  dags: any of: cornflow-dags/**, but not: cornflow-dags/tests/**
