Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

Small fix
  cornflow-server/cornflow/schemas/schemas.py
  cornflow-server/cornflow/tests/unit/test_schemas.py
  docker-compose-cornflow-celery.yml
Due: server

update new dependencies from new versions
  cornflow-server/pyproject.toml
  cornflow-server/uv.lock
  libs/client/pyproject.toml
  libs/client/uv.lock
Due: server, client

update setup.py file with uv version
  cornflow-server/setup.py
  libs/client/setup.py
Due: server, client

delete requirements files
  cornflow-server/requirements.txt
  libs/client/requirements.txt
Due: server, client

install cornflow-dags
  .github/workflows/test_cornflow_server.yml
Due: none

fix error cornflow client
  .github/workflows/test_cornflow_client.yml
Due: none

FIX
  .github/workflows/test_cornflow_client.yml
Due: none

fix
  .github/workflows/test_cornflow_client.yml
Due: none

fix cornflow cliente test integration
  .github/workflows/test_cornflow_client.yml
Due: none

check dags to find error
  .github/workflows/test_cornflow_client.yml
Due: none

tests
  libs/client/cornflow_client/tests/integration/test_airflow_integration.py
  libs/client/cornflow_client/tests/integration/test_cornflow_integration.py
  libs/client/cornflow_client/tests/integration/test_raw_cornflow_integration.py
Due: client

revert last commmit
  libs/client/cornflow_client/tests/integration/test_airflow_integration.py
  libs/client/cornflow_client/tests/integration/test_cornflow_integration.py
  libs/client/cornflow_client/tests/integration/test_raw_cornflow_integration.py
Due: client

Debug log
  cornflow-server/cornflow/app.py
Due: server

Initial version
  cornflow-dags/DAG/execution_files_cleanup.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/shared/const.py
  libs/client/cornflow_client/airflow/dag_utilities.py
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/tools.py
  libs/client/cornflow_client/cornflow_client.py
  libs/client/cornflow_client/raw_cornflow_client.py
  libs/client/requirements.txt
Due: server, client, dags

Updated requirements
  libs/client/requirements.txt
Due: client

Print traceback
  libs/client/cornflow_client/core/experiment.py
Due: client

Small fix
  libs/client/cornflow_client/core/experiment.py
Due: client

Small fix
  libs/client/cornflow_client/core/tools.py
Due: client

Truncate sheet names
  libs/client/cornflow_client/core/tools.py
Due: client

Allow stringIO
  libs/client/cornflow_client/core/experiment.py
Due: client

Small change
  libs/client/cornflow_client/core/experiment.py
Due: client

First unit tests, small changes
  cornflow-dags/DAG/execution_files_cleanup.py
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/tests/const.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/tools.py
  libs/client/cornflow_client/raw_cornflow_client.py
Due: server, client, dags

Small changes
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/requirements.txt
  libs/client/requirements.txt
Due: server, client

More changes, unit tests
  cornflow-dags/tests/unit/test_dags.py
  cornflow-dags/tests/unit/test_rostering.py
  cornflow-server/cornflow/migrations/versions/4729cd156460_.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/raw_cornflow_client.py
  libs/client/cornflow_client/tests/unit/test_abc.py
  libs/client/cornflow_client/tests/unit/test_core.py
  libs/client/cornflow_client/tests/unit/test_dag_utilities.py
  libs/client/cornflow_client/tests/unit/test_execution_files.py
Due: server, client

Dags requirements
  cornflow-dags/requirements.txt
Due: dags

Pandas version
  cornflow-dags/requirements.txt
Due: dags

Fixed server test
  cornflow-server/cornflow/tests/unit/test_cli.py
Due: none

Fixed solve_model_dag solve()
  cornflow-dags/DAG/solve_model_dag/__init__.py
Due: dags

Try fix licenses test
  cornflow-server/requirements.txt
Due: server

Fixed import
  cornflow-dags/DAG/solve_model_dag/__init__.py
Due: dags

Small change in operations order
  cornflow-dags/DAG/solve_model_dag/__init__.py
  cornflow-server/cornflow/endpoints/execution.py
  libs/client/cornflow_client/airflow/dag_utilities.py
Due: server, client, dags

bump cornflow client
  libs/client/setup.py
Due: client

bump cornflow
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: server
