Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

Updated migration
  cornflow-server/cornflow/migrations/versions/c5c40cf34267_.py
Due: server

Add monkey patching
  cornflow-server/cornflow/app.py
Due: server

Run the checks against the solution schema and the checks schemas as well
  cornflow-server/cornflow/endpoints/login.py
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/instance.py
Due: server, client

Fix error on tests. Didn't run them on local :(
  libs/client/cornflow_client/core/application.py
Due: client

Added some new tests
  libs/client/cornflow_client/tests/unit/test_core.py
Due: client

some small changes for the tests in the DAGS so that they run on the PR and we see that we do not ahve any new issues with how the application solve actually works
  cornflow-dags/tests/test_dags.py
Due: none

Fixed some testing on cornflow-client and added support for future versions of pandas
  libs/client/cornflow_client/core/instance_solution.py
  libs/client/cornflow_client/schema/dict_functions.py
  libs/client/cornflow_client/tests/unit/test_core.py
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

Changed the way the checks are run
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/instance.py
  libs/client/cornflow_client/tests/unit/test_abc.py
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

Fix failing test?
  cornflow-dags/DAG/solve_model_dag/__init__.py
Due: dags

Missing checks on instances
  cornflow-dags/DAG/bar_cutting/core/instance.py
  cornflow-dags/DAG/facility_location/core/instance.py
  cornflow-dags/DAG/graph_coloring/core/instance.py
  cornflow-dags/DAG/knapsack/core/instance.py
  cornflow-dags/DAG/roadef/core/instance.py
  cornflow-dags/DAG/tsp/core/instance.py
  cornflow-dags/DAG/two_dimension_bin_packing/core/instance.py
  cornflow-dags/DAG/vrp/core/instance.py
Due: dags

Fixed timer instance
  cornflow-dags/DAG/dag_timer.py
Due: dags

Small adjustments for the tests
  cornflow-dags/DAG/dag_timer.py
  libs/client/cornflow_client/core/experiment.py
Due: client, dags

First version
  cornflow-dags/DAG/connection_cleanup.py
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/dag.py
  cornflow-server/cornflow/gunicorn.py
  cornflow-server/cornflow/migrations/versions/386cde258ad8_.py
  cornflow-server/cornflow/migrations/versions/c5c40cf34267_.py
  cornflow-server/cornflow/models/connection.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/socket.py
  cornflow-server/requirements.txt
Due: server, dags

Restored cornflow-client version
  cornflow-server/requirements.txt
Due: server

Added connection cleanup endpoint
  cornflow-server/cornflow/endpoints/connection_cleanup.py
  libs/client/requirements.txt
Due: server, client

Updated tests
  cornflow-server/cornflow/tests/unit/test_cli.py
Due: none

Bugfix/jsonschema (#577)
  cornflow-dags/DAG/bar_cutting/core/instance.py
  cornflow-dags/DAG/dag_timer.py
  cornflow-dags/DAG/facility_location/core/instance.py
  cornflow-dags/DAG/graph_coloring/core/instance.py
  cornflow-dags/DAG/knapsack/core/instance.py
  cornflow-dags/DAG/roadef/core/instance.py
  cornflow-dags/DAG/solve_model_dag/__init__.py
  cornflow-dags/DAG/tsp/core/instance.py
  cornflow-dags/DAG/two_dimension_bin_packing/core/instance.py
  cornflow-dags/DAG/vrp/core/instance.py
  cornflow-dags/tests/test_dags.py
  cornflow-server/cornflow/endpoints/login.py
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/instance.py
  libs/client/cornflow_client/core/instance_solution.py
  libs/client/cornflow_client/schema/dict_functions.py
  libs/client/cornflow_client/tests/unit/test_abc.py
  libs/client/cornflow_client/tests/unit/test_core.py
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: server, client, dags

Bump version
  cornflow-server/changelog.rst
  cornflow-server/setup.py
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

Bump version due to pypi outage
  cornflow-server/changelog.rst
  cornflow-server/setup.py
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

Bump version due to pypi outage (#584)
  cornflow-server/changelog.rst
  cornflow-server/setup.py
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

Update documentation
  dev/cornflow_client.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

execution endpoint working with new login
  .gitignore
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/execution_databricks.py
  cornflow-server/cornflow/shared/databricks.py
Due: server

Updated version on dockerfile
  cornflow-server/Dockerfile
Due: server

Update GitHub Actions workflow to support Python 3.12 and upgrade action versions
  .github/workflows/test_cornflow_server.yml
Due: none

Update Airflow version in GitHub Actions workflow from 2.7.1 to 2.9.1
  .github/workflows/test_cornflow_server.yml
Due: none

Correcting the get execution state. Everything is working correctly now.
  cornflow-server/cornflow/endpoints/execution_databricks.py
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/shared/databricks.py
Due: server
