Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

Updated action version
  .github/workflows/cornflow-client-publish-to-pypi.yml
  .github/workflows/cornflow-publish-to-pypi.yml
Due: none

Updated action version (#596)
  .github/workflows/cornflow-client-publish-to-pypi.yml
  .github/workflows/cornflow-publish-to-pypi.yml
Due: none

New version of publishing action
  .github/workflows/cornflow-client-publish-to-pypi.yml
  libs/client/setup.py
Due: client

Include requirements in MANIFEST
  libs/client/MANIFEST.in
  libs/client/setup.py
Due: client

New pre-release version of cornflow with new github action
  .github/workflows/cornflow-publish-to-pypi.yml
  cornflow-server/MANIFEST.in
  cornflow-server/setup.py
Due: server

Correct package version
  cornflow-server/setup.py
  libs/client/setup.py
Due: server, client

Hotfix/publish action (#597)
  .github/workflows/cornflow-client-publish-to-pypi.yml
  .github/workflows/cornflow-publish-to-pypi.yml
  cornflow-server/MANIFEST.in
  libs/client/MANIFEST.in
  libs/client/setup.py
Due: server, client

Bump version
  libs/client/setup.py
Due: client

Bump version
  cornflow-server/setup.py
Due: server

fixing error
  cornflow-server/Dockerfile
Due: server

bump version
  cornflow-server/setup.py
Due: server

Small fix
  cornflow-server/cornflow/config.py
Due: server

bump version
  cornflow-server/Dockerfile
  cornflow-server/setup.py
Due: server

deleting import
  cornflow-server/cornflow/endpoints/execution_databricks.py
Due: server

updated version
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile.base
Due: server

new get_highs.py script
  cornflow-server/airflow_config/scripts/solvers/get_highs.py
Due: server

cornflow 1.1.5 & docker-compose build fix
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/requirements.txt
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: server

Disable_detail method implemented in class BaseMetaResource
  cornflow-server/cornflow/endpoints/meta_resource.py
Due: server

Using the predefined exception ObjectDoesNotExist instead of creating a new one
  cornflow-server/cornflow/endpoints/meta_resource.py
Due: server

Implementation of the disable_detail method
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/alarms.py
Due: server

First commit on #568
  cornflow-server/cornflow/tests/const.py
Due: none

Add empty_instance
  cornflow-server/cornflow/models/base_data_model.py
  cornflow-server/cornflow/tests/const.py
  cornflow-server/cornflow/tests/data/empty_instance.json
  cornflow-server/cornflow/tests/unit/test_instances.py
Due: server

Add comment
  cornflow-server/cornflow/tests/unit/test_instances.py
Due: none

Delete "data.get("execution_results")"
  cornflow-server/cornflow/models/base_data_model.py
Due: server

Update comments and add function to check the test
  cornflow-server/cornflow/tests/data/empty_instance.json
  cornflow-server/cornflow/tests/unit/test_instances.py
Due: none

Fix some errors of the method implemented
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/alarms.py
Due: server

Test requirements of the new method implemented
  cornflow-server/cornflow/endpoints/alarms.py
  cornflow-server/cornflow/tests/unit/test_alarms.py
Due: server

upgrade gurobi optimizer to 12.0.1
  cornflow-server/airflow_config/scripts/solvers/get_gurobi.py
Due: server

solving issue 569
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client
