Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

Symbolic commit. Fixes #31.
  cornflow-server/cornflow/shared/const.py
Due: server

Updated version on dockerfile (#586)
  .github/workflows/test_cornflow_server.yml
  cornflow-server/Dockerfile
Due: server

Refactor test cases and improve documentation across multiple files
  .github/workflows/test_cornflow_server.yml
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/meta_resource.py
  cornflow-server/cornflow/tests/unit/test_actions.py
  cornflow-server/cornflow/tests/unit/test_alarms.py
  cornflow-server/cornflow/tests/unit/test_apiview.py
  cornflow-server/cornflow/tests/unit/test_cases.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_commands.py
  cornflow-server/cornflow/tests/unit/test_dags.py
  cornflow-server/cornflow/tests/unit/test_data_checks.py
  cornflow-server/cornflow/tests/unit/test_example_data.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/cornflow/tests/unit/test_generate_from_schema.py
  cornflow-server/cornflow/tests/unit/test_health.py
  cornflow-server/cornflow/tests/unit/test_instances.py
  cornflow-server/cornflow/tests/unit/test_instances_file.py
  cornflow-server/cornflow/tests/unit/test_licenses.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
  cornflow-server/cornflow/tests/unit/test_main_alarms.py
  cornflow-server/cornflow/tests/unit/test_permissions.py
  cornflow-server/cornflow/tests/unit/test_roles.py
  cornflow-server/cornflow/tests/unit/test_schema_from_models.py
  cornflow-server/cornflow/tests/unit/test_schemas.py
  cornflow-server/cornflow/tests/unit/test_sign_up.py
  cornflow-server/cornflow/tests/unit/test_tables.py
  cornflow-server/cornflow/tests/unit/test_token.py
  cornflow-server/cornflow/tests/unit/test_users.py
  cornflow-server/cornflow/tests/unit/tools.py
Due: server

Recommented test file
  cornflow-server/cornflow/tests/unit/test_schema_from_models.py
Due: none

Fixed some f-strings
  cornflow-server/cornflow/endpoints/data_check.py
Due: server

Small typos
  cornflow-server/cornflow/tests/unit/test_dags.py
Due: none

Skip deleted apps when updating dag_registry
  cornflow-dags/DAG/update_dag_registry.py
Due: dags

Update actions/checkout and actions/setup-python to v4
  .github/workflows/test_cornflow_dags.yml
Due: none

Enhance test cases in custom_test_case.py with detailed docstrings fo… (#585)
  .github/workflows/test_cornflow_server.yml
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_actions.py
  cornflow-server/cornflow/tests/unit/test_alarms.py
  cornflow-server/cornflow/tests/unit/test_apiview.py
  cornflow-server/cornflow/tests/unit/test_cases.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_commands.py
  cornflow-server/cornflow/tests/unit/test_dags.py
  cornflow-server/cornflow/tests/unit/test_data_checks.py
Due: none

fix cast env var to int
  cornflow-server/cornflow/cli/service.py
Due: server

Small change in casting
  cornflow-server/cornflow/cli/service.py
Due: server

Small debugging change
  cornflow-server/cornflow/commands/permissions.py
Due: server

Small change
  cornflow-server/cornflow/cli/service.py
Due: server

Update Python version support and dependencies across workflows and requirements files
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  cornflow-dags/requirements.txt
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  libs/client/requirements.txt
  libs/client/setup.py
Due: server, client, dags

Update Python version to 3.9 and Airflow version to 2.9.1 across GitHub Actions workflows
  .github/workflows/build_docs.yml
  .github/workflows/cornflow-client-publish-to-pypi.yml
  .github/workflows/cornflow-publish-to-pypi.yml
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
Due: none

Expand all our workflows to run on Python version 3.12 Issue #579 (#591)
  .github/workflows/build_docs.yml
  .github/workflows/cornflow-client-publish-to-pypi.yml
  .github/workflows/cornflow-publish-to-pypi.yml
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
  cornflow-dags/requirements.txt
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  libs/client/requirements.txt
  libs/client/setup.py
Due: server, client, dags

Updated recursion limit on update all schemas
  cornflow-dags/DAG/update_all_schemas.py
Due: dags

fixes to plotting of instance and experiment of sudoku
  cornflow-dags/DAG/sudoku/core/experiment.py
  cornflow-dags/DAG/sudoku/core/instance.py
  cornflow-dags/DAG/sudoku/report/report.qmd
  cornflow-dags/DAG/sudoku/solvers/norvig.py
  cornflow-dags/tests/test_dags.py
Due: dags

Enhance authentication and configuration handling
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/schemas/user.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
Due: server

Implement application root configuration and middleware support
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/tests/unit/test_application.py
Due: server

Added a little bit more coverage into login open auth
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/exceptions.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
Due: server

Added two more tests to improve a little bit more coverage
  cornflow-server/cornflow/tests/unit/test_log_in.py
Due: none

Deleted unused line
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
Due: server

Fixed tests
  cornflow-server/cornflow/tests/unit/test_log_in.py
Due: none

Final test coverage. Fixed error on email. Added first name and last name if available on OID.
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
Due: server

Enhance authentication and configuration handling (#593)
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/schemas/user.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/exceptions.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
Due: server

Implement application root configuration and middleware support (#594)
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/tests/unit/test_application.py
Due: server

Bump versions
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/setup.py
  libs/client/changelog.rst
Due: server, client
