Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

Feature/modify dockerfiles (#601)
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/airflow_config/Dockerfile.base
  cornflow-server/airflow_config/scripts/solvers/get_gurobi.py
  cornflow-server/airflow_config/scripts/solvers/get_highs.py
  cornflow-server/requirements.txt
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: server

Feature/issue 569 (#605)
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

Formating empty_instance.json
  cornflow-server/cornflow/tests/data/empty_instance.json
Due: none

Feature/issue568 (#603)
  cornflow-server/cornflow/models/base_data_model.py
  cornflow-server/cornflow/tests/const.py
  cornflow-server/cornflow/tests/data/empty_instance.json
  cornflow-server/cornflow/tests/unit/test_instances.py
Due: server

Updated other isntances of utcnow()
  cornflow-dags/DAG/run_deployed_dags.py
  cornflow-dags/DAG/two_dimension_bin_packing/core/instance.py
  cornflow-server/cornflow/schemas/user.py
Due: server, dags

Fixed failing test
  cornflow-server/cornflow/tests/unit/test_users.py
Due: none

Deleted unneeded prints
  cornflow-server/cornflow/endpoints/login.py
Due: server

Fixed probable error on offset filter (#611)
  cornflow-server/cornflow/models/base_data_model.py
  cornflow-server/cornflow/models/meta_models.py
  cornflow-server/cornflow/schemas/query.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_apiview.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
  cornflow-server/cornflow/tests/unit/test_roles.py
  cornflow-server/cornflow/tests/unit/test_users.py
Due: server

PR comment, back to older condition
  libs/client/cornflow_client/core/application.py
Due: client

Better error detection on checks
  libs/client/cornflow_client/core/application.py
Due: client

add a class to check the instance or solution. (#571)
  .github/workflows/test_cornflow_dags.yml
  cornflow-dags/DAG/bar_cutting/core/experiment.py
  cornflow-dags/DAG/bar_cutting/core/instance.py
  cornflow-dags/DAG/facility_location/core/experiment.py
  cornflow-dags/DAG/facility_location/core/instance.py
  cornflow-dags/DAG/graph_coloring/core/experiment.py
  cornflow-dags/DAG/graph_coloring/core/instance.py
  cornflow-dags/DAG/knapsack/core/experiment.py
  cornflow-dags/DAG/knapsack/core/instance.py
  cornflow-dags/DAG/roadef/core/experiment.py
  cornflow-dags/DAG/roadef/core/instance.py
  cornflow-dags/DAG/roadef/solvers/MIPModel.py
  cornflow-dags/DAG/roadef/solvers/PeriodicMIP.py
  cornflow-dags/DAG/rostering/__init__.py
  cornflow-dags/DAG/rostering/core/experiment.py
  cornflow-dags/DAG/rostering/core/instance.py
  cornflow-dags/DAG/rostering/data/test_instance_bad_timeslot_length.json
  cornflow-dags/DAG/rostering/schemas/instance_checks.json
  cornflow-dags/DAG/rostering/schemas/solution_checks.json
  cornflow-dags/DAG/solve_model_dag/__init__.py
  cornflow-dags/DAG/tsp/core/experiment.py
  cornflow-dags/DAG/tsp/core/instance.py
  cornflow-dags/DAG/two_dimension_bin_packing/__init__.py
  cornflow-dags/DAG/two_dimension_bin_packing/core/instance.py
  cornflow-dags/DAG/two_dimension_bin_packing/schemas/config.json
  cornflow-dags/DAG/two_dimension_bin_packing/schemas/instance_checks.json
  cornflow-dags/DAG/vrp/core/experiment.py
  cornflow-dags/DAG/vrp/core/instance.py
  cornflow-dags/requirements.txt
  cornflow-dags/tests/integration/__init__.py
  cornflow-dags/tests/integration/test_dags_af.py
  cornflow-dags/tests/unit/__init__.py
  cornflow-dags/tests/unit/test_dags.py
  cornflow-dags/tests/unit/test_rostering.py
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/instance.py
  libs/client/cornflow_client/tests/unit/test_core.py
Due: client, dags

Small adjustment to requirements.txt
  cornflow-server/requirements.txt
Due: server

Fixed some merge errors
  cornflow-server/cornflow/models/meta_models.py
Due: server

Feature/utc (#612)
  cornflow-dags/DAG/run_deployed_dags.py
  cornflow-dags/DAG/two_dimension_bin_packing/core/instance.py
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/models/meta_models.py
  cornflow-server/cornflow/models/user.py
  cornflow-server/cornflow/schemas/user.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_users.py
Due: server, dags

Merge and fix test
  cornflow-server/cornflow/tests/unit/test_token.py
Due: none

Changed cli migrations command to accept revision parameter
  cornflow-server/cornflow/cli/migrations.py
Due: server

Fixed help description
  cornflow-server/cornflow/cli/migrations.py
Due: server

Feature/external jwt validation (#609)
  cornflow-server/Dockerfile
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/schemas/user.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_actions.py
  cornflow-server/cornflow/tests/unit/test_apiview.py
  cornflow-server/cornflow/tests/unit/test_cases.py
  cornflow-server/cornflow/tests/unit/test_dags.py
  cornflow-server/cornflow/tests/unit/test_instances.py
  cornflow-server/cornflow/tests/unit/test_instances_file.py
  cornflow-server/cornflow/tests/unit/test_licenses.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
  cornflow-server/cornflow/tests/unit/test_permissions.py
  cornflow-server/cornflow/tests/unit/test_roles.py
  cornflow-server/cornflow/tests/unit/test_tables.py
  cornflow-server/cornflow/tests/unit/test_token.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  libs/client/cornflow_client/airflow/dag_utilities.py
  libs/client/cornflow_client/raw_cornflow_client.py
  libs/client/setup.py
Due: server, client

Bugfix/review commands (#574)
  cornflow-server/Dockerfile
  cornflow-server/cornflow/cli/migrations.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/cli/utils.py
Due: server

Refactor Alarms Endpoint and Add Edit Functionality
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/alarms.py
  cornflow-server/cornflow/schemas/alarms.py
  cornflow-server/cornflow/tests/unit/test_alarms.py
Due: server

Small error in test
  cornflow-server/cornflow/tests/unit/test_apiview.py
Due: none

Small error in test
  cornflow-server/cornflow/tests/unit/test_apiview.py
  cornflow-server/cornflow/tests/unit/test_cli.py
Due: none

cleaning + roles
  cornflow-server/cornflow/endpoints/alarms.py
Due: server

Remove service role restrictions from Alarms endpoints
  cornflow-server/cornflow/endpoints/alarms.py
Due: server

Bump versions
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/setup.py
Due: server, client, dags

Disable_detail method implemented in class BaseMetaResource (#602)
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/alarms.py
  cornflow-server/cornflow/endpoints/meta_resource.py
  cornflow-server/cornflow/schemas/alarms.py
  cornflow-server/cornflow/tests/unit/test_alarms.py
  cornflow-server/cornflow/tests/unit/test_apiview.py
  cornflow-server/cornflow/tests/unit/test_cli.py
Due: server

Fixed error on workflow orchestation
  .github/workflows/test_cornflow_server.yml
Due: none

Fix to client integration workflow
  .github/workflows/test_cornflow_client.yml
Due: none
