Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

only small problems
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/tests/unit/test_apiview.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_commands.py
  cornflow-server/cornflow/tests/unit/test_signup_authenticated.py
Due: server

small adaptation
  cornflow-server/cornflow/tests/unit/test_cli.py
Due: none

all test passing
  cornflow-server/cornflow/shared/authentication/decorators.py
  cornflow-server/cornflow/tests/unit/test_sign_up.py
  cornflow-server/cornflow/tests/unit/test_signup_authenticated.py
Due: server

delete duplicated test
  cornflow-server/cornflow/tests/unit/test_sign_up.py
Due: none

new tests
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

change some test
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

add OutputFlag
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

Update config.py
  cornflow-server/cornflow/config.py
Due: server

New constants for possible values of signup
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/signup.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_sign_up.py
Due: server

reducing logs
  cornflow-server/cornflow/commands/permissions.py
Due: server

reducing logs (#662)
  cornflow-server/cornflow/commands/permissions.py
Due: server

Update auth decorator to authenticate by default.
  cornflow-server/cornflow/endpoints/signup.py
  cornflow-server/cornflow/shared/authentication/decorators.py
Due: server

small change in logic for auth decorator
  cornflow-server/cornflow/shared/authentication/decorators.py
Due: server

Some extra tests
  cornflow-server/cornflow/tests/unit/test_get_resources.py
Due: none

Feature/new signup (#660)
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/commands/auxiliar.py
  cornflow-server/cornflow/commands/views.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/permission.py
  cornflow-server/cornflow/endpoints/signup.py
  cornflow-server/cornflow/shared/authentication/decorators.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_apiview.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_commands.py
  cornflow-server/cornflow/tests/unit/test_get_resources.py
  cornflow-server/cornflow/tests/unit/test_sign_up.py
Due: server

add new test
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

Small change in config
  .github/workflows/test_cornflow_client.yml
Due: none

change test_get_solver_config_without_remove_unknow
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

Small change in client test config (#668)
  .github/workflows/test_cornflow_client.yml
Due: none

Updated requests
  cornflow-server/requirements.txt
  libs/client/requirements.txt
Due: server, client

initial helm chart files
  helm-charts/BEST_PRACTICES.md
  helm-charts/cornflow/.helmignore
  helm-charts/cornflow/Chart.yaml
  helm-charts/cornflow/README.md
  helm-charts/cornflow/templates/_helpers.tpl
  helm-charts/cornflow/templates/configmaps.yaml
  helm-charts/cornflow/templates/cornflow-deployment.yaml
  helm-charts/cornflow/templates/ingress.yaml
  helm-charts/cornflow/templates/postgresql.yaml
  helm-charts/cornflow/templates/pvc.yaml
  helm-charts/cornflow/templates/rbac.yaml
  helm-charts/cornflow/templates/services.yaml
  helm-charts/cornflow/values-cornflow.yaml
  helm-charts/deploy-example.sh
Due: none

Prints for debug
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

get_public_keys fix
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

initial airflow helm chart
  helm-charts/cornflow/.helmignore
  helm-charts/cornflow/Chart.lock
  helm-charts/cornflow/Chart.yaml
  helm-charts/cornflow/README.md
  helm-charts/cornflow/templates/airflow-rbac.yaml
  helm-charts/cornflow/templates/cornflow-deployment.yaml
  helm-charts/cornflow/templates/postgresql.yaml
  helm-charts/cornflow/values.yaml
Due: none

init container to install requirements and dags
  .gitignore
  helm-charts/cornflow/Chart.lock
  helm-charts/cornflow/Chart.yaml
  helm-charts/cornflow/values.yaml
Due: none

cornflow_conn_url into values.yaml
  helm-charts/cornflow/values.yaml
Due: none

fix logs persistence and cornflow healthcheck
  helm-charts/cornflow/templates/cornflow-deployment.yaml
  helm-charts/cornflow/templates/pvc.yaml
  helm-charts/cornflow/values.yaml
Due: none

values.yaml updated
  helm-charts/cornflow/values.yaml
Due: none

license added to all files
  helm-charts/cornflow/Chart.yaml
  helm-charts/cornflow/templates/airflow-rbac.yaml
  helm-charts/cornflow/templates/configmaps.yaml
  helm-charts/cornflow/templates/cornflow-deployment.yaml
  helm-charts/cornflow/templates/ingress.yaml
  helm-charts/cornflow/templates/postgresql.yaml
  helm-charts/cornflow/templates/rbac.yaml
  helm-charts/cornflow/templates/services.yaml
Due: none

added flask env to values.yaml
  helm-charts/cornflow/values.yaml
Due: none

my-project helm chart
  helm-charts/cornflow/README.md
  helm-charts/cornflow/templates/airflow-dags-pvc.yaml
  helm-charts/cornflow/templates/airflow-rbac.yaml
  helm-charts/cornflow/templates/cornflow-deployment.yaml
  helm-charts/cornflow/templates/postgresql.yaml
  helm-charts/cornflow/templates/services.yaml
  helm-charts/cornflow/values.yaml
Due: none

Fixed error on workflow
  .github/workflows/sonarqube.yml
Due: none

Fixed error on workflow (#670)
  .github/workflows/sonarqube.yml
Due: none

Update PARAMETER_SOLVER_TRANSLATING_MAPPING for new Gurobi version (#658)
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

add external app module to values.yaml
  helm-charts/cornflow/README.md
  helm-charts/cornflow/values.yaml
Due: none

Updated requests (#669)
  cornflow-server/requirements.txt
  libs/client/requirements.txt
Due: server, client

Bump code versions and updated changelog
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

updated changelog
  cornflow-server/changelog.rst
Due: server

Path conditions:
  server: any of: cornflow-server/**, but not: cornflow-server/cornflow/tests/**
  client: any of: libs/client/**, but not: libs/client/tests/**
  dags: any of: cornflow-dags/**, but not: cornflow-dags/tests/**
