Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

black formatting
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/gunicorn.py
  cornflow-server/cornflow/shared/cloud_logging.py
  cornflow-server/cornflow/tests/unit/test_log_config.py
Due: server

Add 'click' dependency to Airflow Dockerfile
  cornflow-server/airflow_config/Dockerfile
Due: server

Download empty tables in execution files generation, small fix when executions don't have a solution
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
Due: client

Unit testd
  libs/client/cornflow_client/tests/unit/test_execution_files.py
Due: client

Add 'click' dependency to Airflow Dockerfile (#754)
  cornflow-server/airflow_config/Dockerfile
Due: server

Feature/output files improvements (#755)
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/tests/unit/test_execution_files.py
Due: client

Improve deleting execution with stop dag in af before delete
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/tests/base_test_execution.py
Due: server

Frontend automation
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/frontend_automation.py
  cornflow-server/cornflow/schemas/frontend_automation.py
  cornflow-server/cornflow/shared/frontend_automation/__init__.py
  cornflow-server/cornflow/shared/frontend_automation/apispec_tools.py
  cornflow-server/cornflow/shared/frontend_automation/base_frontend_groups.py
  cornflow-server/cornflow/shared/frontend_automation/custom_marshmallow_plugin.py
  cornflow-server/cornflow/shared/frontend_automation/frontend_automation.py
  cornflow-server/cornflow/tests/const.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_frontend_automation_logic.py
  cornflow-server/cornflow/tests/unit/tools_frontend_automation.py
  docs/frontend_automation.md
  docs/info_frontend_automation_schema.md
  docs/source/guides/frontend_automation.rst
  docs/source/guides/index.rst
  docs/source/guides/info_frontend_automation_schema.rst
Due: server

Feature/improve endpoint timing (#752)
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/instance.py
  cornflow-server/cornflow/models/base_data_model.py
  cornflow-server/cornflow/models/case.py
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/models/instance.py
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/changelog.rst
  libs/client/cornflow_client/core/application.py
  libs/client/setup.py
Due: server, client, dags

Defer heavy columns in execution status endpoint and add contract tests
  .gitignore
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: server

clean
  .gitignore
Due: none

Update Dockerfile-k8s
  cornflow-server/airflow_config/Dockerfile-k8s
Due: server

Release/v1.3.7 (#757)
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/instance.py
  cornflow-server/cornflow/models/base_data_model.py
  cornflow-server/cornflow/models/case.py
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/models/instance.py
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/tests/unit/test_execution_files.py
  libs/client/setup.py
Due: server, client, dags

bump cornflow client
  libs/client/changelog.rst
  libs/client/setup.py
Due: client

bump cornflow
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: server, dags

Route DAG/instance/execution/case data endpoints to raw-JSON variants
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/case.py
  cornflow-server/cornflow/endpoints/dag.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/instance.py
  cornflow-server/cornflow/endpoints/raw_json.py
  cornflow-server/cornflow/tests/load/__init__.py
  cornflow-server/cornflow/tests/load/_deprecated_routes.py
  cornflow-server/cornflow/tests/load/benchmark_case_data_endpoint.py
  cornflow-server/cornflow/tests/load/benchmark_dag_endpoint.py
  cornflow-server/cornflow/tests/load/benchmark_execution_data_endpoint.py
  cornflow-server/cornflow/tests/load/benchmark_instance_data_endpoint.py
  cornflow-server/cornflow/tests/unit/test_cases.py
  cornflow-server/cornflow/tests/unit/test_dags.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/cornflow/tests/unit/test_instances.py
Due: server

Improve patch coverage: drop dead branch, cover deprecated Fast + Raw 404
  cornflow-server/cornflow/endpoints/raw_json.py
  cornflow-server/cornflow/tests/unit/test_dags.py
Due: server

Remove DAGDetailEndpointFast
  cornflow-server/cornflow/endpoints/dag.py
  cornflow-server/cornflow/tests/load/benchmark_dag_endpoint.py
  cornflow-server/cornflow/tests/unit/test_dags.py
Due: server

update airflow deployment 1st try
  EXPLICACION_FIXES_CORNFLOW_AIRFLOW3.md
  cornflow-server/airflow_config/Dockerfile-k8s
  helm-charts/BEST_PRACTICES.md
  helm-charts/cornflow/.helmignore
  helm-charts/cornflow/CLAUDE.md
  helm-charts/cornflow/Chart.lock
  helm-charts/cornflow/Chart.yaml
  helm-charts/cornflow/README.md
  helm-charts/cornflow/charts/airflow-1.22.0.tgz
  helm-charts/cornflow/index.yaml
  helm-charts/cornflow/packages/cornflow-1.2.4.tgz
  helm-charts/cornflow/packages/cornflow-1.3.3.tgz
  helm-charts/cornflow/packages/cornflow-1.3.4.tgz
  helm-charts/cornflow/packages/cornflow-1.3.5.tgz
  helm-charts/cornflow/packages/cornflow-1.3.6-rc.tgz
  helm-charts/cornflow/packages/cornflow-1.3.6.tgz
  helm-charts/cornflow/packages/index.yaml
  helm-charts/cornflow/scripts/release.sh
  helm-charts/cornflow/templates/_helpers.tpl
  helm-charts/cornflow/templates/airflow-dags-pvc.yaml
  helm-charts/cornflow/templates/airflow-rbac.yaml
  helm-charts/cornflow/templates/configmaps.yaml
  helm-charts/cornflow/templates/cornflow-deployment.yaml
  helm-charts/cornflow/templates/postgresql.yaml
  helm-charts/cornflow/templates/rbac.yaml
  helm-charts/cornflow/templates/services.yaml
  helm-charts/cornflow/values.yaml
  libs/client/cornflow_client/airflow/api.py
Due: server, client

update airflow deployment 1st try
  .gitignore
  helm-charts/cornflow/charts/airflow-1.22.0.tgz
  helm-charts/cornflow/packages/cornflow-1.2.4.tgz
  helm-charts/cornflow/packages/cornflow-1.3.3.tgz
  helm-charts/cornflow/packages/cornflow-1.3.4.tgz
  helm-charts/cornflow/packages/cornflow-1.3.5.tgz
  helm-charts/cornflow/packages/cornflow-1.3.6-rc.tgz
  helm-charts/cornflow/packages/cornflow-1.3.6.tgz
Due: none

qf
  EXPLICACION_FIXES_CORNFLOW_AIRFLOW3.md
Due: none

bump cornflow client
  libs/client/setup.py
Due: client

bump cornflow
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: server, dags

fix for using v2 if v1 is not available
  libs/client/cornflow_client/airflow/api.py
Due: client

update post calls to new airflow
  libs/client/cornflow_client/airflow/api.py
Due: client

update default dags to compare
  cornflow-dags/DAG/activate_dags.py
  cornflow-dags/DAG/update_all_schemas.py
  cornflow-dags/DAG/update_dag_registry.py
Due: dags

Security hardening (CCN-STIC-807) II: rate limiting, platform admin role, BI token expiry, hardening quick-wins
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/cli/users.py
  cornflow-server/cornflow/cli/utils.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/action.py
  cornflow-server/cornflow/endpoints/apiview.py
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/endpoints/mfa.py
  cornflow-server/cornflow/endpoints/permission.py
  cornflow-server/cornflow/endpoints/roles.py
  cornflow-server/cornflow/endpoints/user.py
  cornflow-server/cornflow/endpoints/user_role.py
  cornflow-server/cornflow/migrations/versions/b7a1c9d807e5_.py
  cornflow-server/cornflow/models/mfa_backup_code.py
  cornflow-server/cornflow/models/user.py
  cornflow-server/cornflow/schemas/user.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/rate_limit.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_roles.py
  cornflow-server/cornflow/tests/unit/test_security_hardening.py
  cornflow-server/cornflow/tests/unit/test_users.py
  cornflow-server/requirements.txt
  docs/source/deploy/access.rst
Due: server

Security hardening (CCN-STIC-807) III: centralize policy constants, prevent error-message leakage
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/endpoints/signup.py
  cornflow-server/cornflow/models/user.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/shared/encryption.py
  cornflow-server/cornflow/shared/validators.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
  cornflow-server/cornflow/tests/unit/test_security_hardening.py
Due: server

Personal API keys: long-lived credential minted behind full auth
  cornflow-server/cornflow/cli/users.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/api_key.py
  cornflow-server/cornflow/endpoints/mfa.py
  cornflow-server/cornflow/migrations/versions/b7a1c9d807e5_.py
  cornflow-server/cornflow/models/user.py
  cornflow-server/cornflow/schemas/user.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_security_hardening.py
  docs/source/deploy/access.rst
  libs/client/cornflow_client/airflow/dag_utilities.py
  libs/client/cornflow_client/cornflow_client.py
  libs/client/cornflow_client/raw_cornflow_client.py
  libs/client/cornflow_client/tests/unit/test_dag_utilities.py
Due: server, client

CI: use policy-compliant credentials and 32-byte secret keys
  .github/workflows/sonarqube.yml
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_server.yml
  cornflow-server/cornflow/tests/custom_liveServer.py
  cornflow-server/cornflow/tests/integration/test_cornflowclient.py
  cornflow-server/cornflow/tests/integration/test_data_checks_kpis.py
  docs/source/main/install.rst
  libs/client/cornflow_client/tests/integration/test_airflow_integration.py
  libs/client/cornflow_client/tests/integration/test_cornflow_integration.py
  libs/client/cornflow_client/tests/integration/test_raw_cornflow_integration.py
Due: client

Structured security audit logging (emission layer)
  cornflow-server/cornflow/cli/users.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/api_key.py
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/endpoints/mfa.py
  cornflow-server/cornflow/endpoints/user.py
  cornflow-server/cornflow/endpoints/user_role.py
  cornflow-server/cornflow/models/user.py
  cornflow-server/cornflow/shared/audit.py
  cornflow-server/cornflow/shared/log_config.py
  cornflow-server/cornflow/tests/unit/test_security_hardening.py
  docs/source/deploy/access.rst
Due: server

HTTP security headers, CORS lock-down and docs off in production
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/shared/security.py
  cornflow-server/cornflow/tests/unit/test_security_hardening.py
  docs/source/deploy/access.rst
Due: server

Fix integration tests broken by the password policy
  cornflow-server/cornflow/tests/custom_liveServer.py
  cornflow-server/cornflow/tests/integration/test_cornflowclient.py
Due: none

Fix client integration tests under the hardened server defaults
  .github/workflows/test_cornflow_client.yml
  libs/client/cornflow_client/tests/integration/test_cornflow_integration.py
  libs/client/cornflow_client/tests/integration/test_raw_cornflow_integration.py
Due: client
