Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

Small change on merge
  cornflow-server/Dockerfile
  cornflow-server/cornflow/shared/const.py
  docs/source/conf.py
Due: server

Updated cornflow Dockerfile
  cornflow-server/Dockerfile
Due: server

Updated airflow Dockerfiles
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/airflow_config/Dockerfile.base
Due: server

PR changes
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/execution.py
Due: server

execution fix
  cornflow-server/cornflow/endpoints/execution.py
Due: server

Change ubication of config_orchestrator
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/orchestrator_constants.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/shared/databricks.py
Due: server

Delete redundant files
  cornflow-server/cornflow/shared/airflow.py
  cornflow-server/cornflow/shared/databricks.py
Due: server

Refactor backend status check in HealthEndpoint to streamline logic and reduce redundancy
  cornflow-server/cornflow/endpoints/health.py
Due: server

try new test
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: none

refactoring test . To be reviewed if all of them are correct
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: none

test working. Base test executing when they should not
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: none

Not detecting base test
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/cornflow/tests/unit/tools.py
Due: none

base test extracted
  cornflow-server/cornflow/tests/base_test_execution.py
Due: none

Test passing. Needed intense review of execution test.
  cornflow-server/cornflow/tests/base_test_execution.py
  cornflow-server/cornflow/tests/data/patch_databricks_get_run_status.json
Due: none

solving some more problems
  cornflow-server/cornflow/tests/base_test_execution.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/cornflow/tests/unit/tools.py
Due: none

All test passing
  cornflow-server/cornflow/tests/base_test_execution.py
Due: none

small change
  cornflow-server/cornflow/tests/base_test_execution.py
  cornflow-server/cornflow/tests/unit/test_dags.py
Due: none

Refactoring
  cornflow-server/cornflow/tests/unit/test_dags.py
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: none

small change in constants
  libs/client/cornflow_client/airflow/api.py
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/databricks/api.py
Due: client

delete unnecesary file
  libs/client/cornflow_client/orchestrator_constants.py
Due: client

unify logic
  cornflow-server/cornflow/endpoints/execution.py
Due: server

Feature/dockerfiles (#673)
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/airflow_config/Dockerfile.base
Due: server

ease debugging
  cornflow-server/cornflow/commands/dag.py
  cornflow-server/cornflow/commands/schemas.py
  cornflow-server/cornflow/shared/airflow/__init__.py
  cornflow-server/cornflow/shared/airflow/api.py
  cornflow-server/cornflow/shared/databricks/__init__.py
  cornflow-server/cornflow/shared/databricks/api.py
Due: server

Deleting duplicated function
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/shared/airflow/api.py
  cornflow-server/cornflow/tests/unit/tools.py
  libs/client/cornflow_client/airflow/api.py
Due: server, client

small change in imports
  cornflow-server/cornflow/commands/dag.py
  cornflow-server/cornflow/commands/schemas.py
Due: server

small change
  cornflow-server/cornflow/shared/airflow/api.py
  cornflow-server/cornflow/shared/databricks/api.py
Due: server

missing constants
  cornflow-server/cornflow/shared/constants_cli.py
Due: server

missing file
  cornflow-server/cornflow/shared/airflow/dag_utilities.py
Due: server

Refactor Airflow API calls to use get_workflow_info method instead of get_orch_info for consistency across endpoints. Adding # TODO: DATABRICKS NOT IMPLEMENTED YET where needed
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/example_data.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/shared/airflow/api.py
  cornflow-server/cornflow/shared/databricks/api.py
  cornflow-server/cornflow/tests/unit/test_example_data.py
  cornflow-server/cornflow/tests/unit/tools.py
  libs/client/cornflow_client/airflow/api.py
  libs/client/cornflow_client/databricks/api.py
Due: server, client

small error
  cornflow-server/cornflow/tests/unit/tools.py
Due: none

Update logging messages in permissions.py to reflect 'Workflow' instead of 'DAG' for clarity
  cornflow-server/cornflow/commands/permissions.py
Due: server

Rename parameter 'orch_name' to 'workflow_name' in Airflow and Databricks API methods for consistency across the codebase.
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/shared/airflow/api.py
  libs/client/cornflow_client/airflow/api.py
  libs/client/cornflow_client/databricks/api.py
Due: server, client

Update parameter name from 'orch_name' to 'workflow_name' in ExecutionEndpoint and ExecutionRelaunchEndpoint for consistency with recent changes.
  cornflow-server/cornflow/endpoints/execution.py
Due: server

Add OID provider support in environment setup and update constants
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/endpoints/example_data.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/const.py
Due: server

Update Cornflow Helm Chart to v1.2.4
  helm-charts/cornflow/Chart.yaml
  helm-charts/cornflow/values.yaml
Due: none

Fix get_public_keys for entraId
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

Small change
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

OpenID: Get first name and last name from email if undefined, return user first and last names in execution list
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/schemas/execution.py
Due: server

Updated unit tests
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: server
