Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

Created test
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/tests/const.py
  cornflow-server/cornflow/tests/data/good_schema_execution.json
  cornflow-server/cornflow/tests/data/no_schema_execution.json
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: server

Correcting folder
  cornflow-dags/tests/data/auto_scripts/two_valid_types.py
  cornflow-dags/tests/unit/test_dags.py
Due: none

Black format
  cornflow-dags/tests/data/auto_scripts/two_valid_types.py
  cornflow-dags/tests/unit/test_dags.py
Due: none

bump version and add docs
  CUSTOM_ROLES_ACTIONS_EXAMPLE.md
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  docs/source/guides/custom_role_extra_permission.rst
  docs/source/guides/index.rst
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

Small change
  cornflow-server/requirements.txt
Due: server

Release/v1.2.3 (#653)
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/cli/roles.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/commands/access.py
  cornflow-server/cornflow/commands/auxiliar.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/commands/roles.py
  cornflow-server/cornflow/commands/views.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/data/expected_permissions.json
  cornflow-server/cornflow/tests/unit/test_external_role_creation.py
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  docs/source/guides/custom_role_extra_permission.rst
  docs/source/guides/index.rst
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

bump client version
  cornflow-server/requirements.txt
Due: server

Adding new constant for memory error
  cornflow-server/cornflow/shared/const.py
Due: server

Implemented memory logic and exception in dag_utilities.py
  libs/client/cornflow_client/airflow/dag_utilities.py
Due: client

Modifing new function implemented in dag_utilities.py
  libs/client/cornflow_client/airflow/dag_utilities.py
Due: client

Added callback to update cornflow db in case any error exists
  libs/client/cornflow_client/airflow/dag_utilities.py
Due: client

Added the callback to activate_dags, even in case we don't want any email notification
  cornflow-dags/DAG/activate_dags.py
Due: dags

Add Class for unit testing
  libs/client/cornflow_client/tests/unit/test_dag_utilities.py
Due: client

Trying to fix airflow
  libs/client/cornflow_client/airflow/dag_utilities.py
  libs/client/cornflow_client/tests/unit/test_dag_utilities.py
Due: client

Add get_solver_name method to ExperimentCore for improved solver handling
  libs/client/cornflow_client/core/experiment.py
Due: client

Remove unused import
  libs/client/cornflow_client/core/experiment.py
Due: client

Add return statement for solver in ExperimentCore
  libs/client/cornflow_client/core/experiment.py
Due: client

Unit test for dag_utilities functions working
  libs/client/cornflow_client/tests/unit/test_dag_utilities.py
Due: client

Creating integration test
  cornflow-dags/tests/integration/test_dags_af.py
Due: none

Changes in unit tests
  libs/client/cornflow_client/airflow/dag_utilities.py
  libs/client/cornflow_client/tests/integration/test_airflow_integration.py
  libs/client/cornflow_client/tests/unit/test_dag_utilities.py
Due: client

Refactor data checks handling in ApplicationCore class to simplify logic. Now checks for the presence of data_checks attribute before calling the method, improving code clarity and robustness.
  libs/client/cornflow_client/core/application.py
Due: client

Update parameter mapping in constants.py to standardize 'msg' to 'OutputFlag' for both Pyomo and Pulp solvers.
  libs/client/cornflow_client/constants.py
Due: client

initial commit
  libs/client/cornflow_client/constants.py
Due: client

change msg to OutputFlag
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

add test
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

add OutputFlag to known parameter
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

delete OutputFlag to known parameter
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/tests/unit/test_instance_solution_methods.py
Due: client

delete .dagignore
  cornflow-dags/DAG/.dagignore
Due: dags

Correcting activate_dags.py
  cornflow-dags/DAG/activate_dags.py
  cornflow-server/cornflow/endpoints/execution.py
Due: server, dags

starting new sign-up
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/signup.py
  cornflow-server/cornflow/tests/unit/test_signup_authenticated.py
Due: server

same as master
  cornflow-server/cornflow/cli/service.py
Due: server

first attempt
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/commands/auxiliar.py
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/signup.py
  cornflow-server/cornflow/shared/const.py
Due: server

errors to be corrected
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/signup.py
  cornflow-server/cornflow/shared/authentication/decorators.py
Due: server

all tests passing
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/commands/views.py
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/permission.py
  cornflow-server/cornflow/endpoints/signup.py
  cornflow-server/cornflow/tests/unit/test_signup_authenticated.py
Due: server

cleaning
  cornflow-server/cornflow/app.py
Due: server

Added .vscode to gitignore
  .gitignore
Due: none

change default to auth
  cornflow-server/cornflow/config.py
Due: server

Update develop from hotfix (#659)
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/cli/roles.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/commands/access.py
  cornflow-server/cornflow/commands/auxiliar.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/commands/roles.py
  cornflow-server/cornflow/commands/views.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/data/expected_permissions.json
  cornflow-server/cornflow/tests/unit/test_external_role_creation.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  docs/source/guides/custom_role_extra_permission.rst
  docs/source/guides/index.rst
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

Path conditions:
  server: any of: cornflow-server/**, but not: cornflow-server/cornflow/tests/**
  client: any of: libs/client/**, but not: libs/client/tests/**
  dags: any of: cornflow-dags/**, but not: cornflow-dags/tests/**
