Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

Add detect plugins
  cornflow-server/cornflow/app.py
Due: server

bump client
  libs/client/setup.py
Due: client

bump cornflow
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: server, dags

Added unit test
  cornflow-dags/DAG/execution_files_cleanup.py
  cornflow-dags/tests/unit/test_execution_files_cleanup.py
Due: dags

Removed ranges in requirements
  cornflow-dags/requirements.txt
  libs/client/requirements.txt
Due: client, dags

Adapted to review
  cornflow-dags/DAG/rostering/core/experiment.py
  cornflow-server/cornflow/models/execution.py
  docker-compose-cornflow-celery.yml
Due: server, dags

Fixed bug with update_dag_registry
  cornflow-dags/DAG/update_dag_registry.py
Due: dags

Feature/execution files (#722)
  cornflow-dags/DAG/execution_files_cleanup.py
  cornflow-dags/DAG/solve_model_dag/__init__.py
  cornflow-dags/DAG/update_dag_registry.py
  cornflow-dags/tests/unit/test_dags.py
  cornflow-dags/tests/unit/test_execution_files_cleanup.py
  cornflow-dags/tests/unit/test_rostering.py
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/migrations/versions/4729cd156460_.py
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/const.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/cornflow_client/airflow/dag_utilities.py
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/tools.py
  libs/client/cornflow_client/cornflow_client.py
  libs/client/cornflow_client/raw_cornflow_client.py
  libs/client/cornflow_client/tests/unit/test_abc.py
  libs/client/cornflow_client/tests/unit/test_core.py
  libs/client/cornflow_client/tests/unit/test_dag_utilities.py
  libs/client/cornflow_client/tests/unit/test_execution_files.py
  libs/client/requirements.txt
  libs/client/setup.py
Due: server, client, dags

bump cornflow client
  libs/client/setup.py
Due: client

update req
  cornflow-dags/requirements.txt
Due: dags

try fix
  cornflow-dags/requirements.txt
Due: dags

Build excel with openpyxl
  libs/client/cornflow_client/core/tools.py
  libs/client/requirements.txt
Due: client

Offer both frontend styles
  libs/client/cornflow_client/core/tools.py
Due: client

Updated openpyxl, added pandas to requirements-dev
  cornflow-dags/requirements.txt
  libs/client/requirements-dev.txt
  libs/client/requirements.txt
Due: client, dags

Update cornflow requirements
  cornflow-server/requirements.txt
Due: server

Small fix
  libs/client/cornflow_client/core/tools.py
Due: client

Dump values to json
  libs/client/cornflow_client/core/tools.py
Due: client

Jsonify only non-primitive types
  libs/client/cornflow_client/core/tools.py
Due: client

Restored requirements.txt
  cornflow-server/requirements.txt
Due: server

Added dummy role
  cornflow-server/cornflow/commands/auxiliar.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_roles.py
  cornflow-server/cornflow/tests/unit/test_users.py
Due: server

Try improve coverage
  libs/client/cornflow_client/tests/unit/test_execution_files.py
Due: client

More coverage
  libs/client/cornflow_client/tests/unit/test_execution_files.py
Due: client

Small simplification
  libs/client/cornflow_client/core/tools.py
Due: client

Feature/remove pandas dependency (#725)
  cornflow-dags/requirements.txt
  libs/client/cornflow_client/core/tools.py
  libs/client/cornflow_client/tests/unit/test_execution_files.py
  libs/client/requirements-dev.txt
  libs/client/requirements.txt
Due: client, dags

Added dummy role (#726)
  cornflow-server/cornflow/commands/auxiliar.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_roles.py
  cornflow-server/cornflow/tests/unit/test_users.py
Due: server

bump client
  libs/client/changelog.rst
  libs/client/setup.py
Due: client

bump cornflow
  .claude/settings.json
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/changelog.rst
Due: server, client, dags

Require admin and service-user passwords at startup
  cornflow-server/cornflow/cli/service.py
Due: server

Harden default Flask configuration
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
Due: server

Default OPEN_DEPLOYMENT to closed (0)
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
Due: server

Strengthen password policy and fix letterless-password gap
  cornflow-server/cornflow/shared/validators.py
Due: server

Disable password-recovery endpoint by default
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/user.py
Due: server

Honor CORS_ORIGINS config instead of always allowing all origins
  cornflow-server/cornflow/app.py
Due: server

Require FERNET_KEY instead of generating an ephemeral signing key
  cornflow-server/cornflow/cli/service.py
Due: server

Add expiry to BI tokens
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

Equalize DB login timing to prevent username enumeration
  cornflow-server/cornflow/endpoints/login.py
Due: server

Add timeout to OIDC JWKS fetch
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

Path conditions:
  server: any of: cornflow-server/**, but not: cornflow-server/cornflow/tests/**
  client: any of: libs/client/**, but not: libs/client/tests/**
  dags: any of: cornflow-dags/**, but not: cornflow-dags/tests/**
