Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

undo changes
  cornflow-server/requirements.txt
  libs/client/requirements.txt
Due: server, client

fix test integration cornflow-client
  .github/workflows/test_cornflow_client.yml
Due: none

fix test
  .github/workflows/test_cornflow_client.yml
Due: none

update astral version
  .github/workflows/build_docs.yml
  .github/workflows/cornflow-client-publish-to-pypi.yml
  .github/workflows/cornflow-publish-to-pypi.yml
  .github/workflows/sonarqube.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
Due: none

fix tests integration
  .github/workflows/test_cornflow_client.yml
Due: none

fix cornflow-client test
  .github/workflows/test_cornflow_client.yml
Due: none

fix test cornflow-client
  .github/workflows/test_cornflow_client.yml
Due: none

fix tests cornflow-client
  .github/workflows/test_cornflow_client.yml
  cornflow-dags/pyproject.toml
  cornflow-dags/uv.lock
Due: dags

fix test in cornflow-server
  cornflow-server/cornflow/tests/unit/test_licenses.py
Due: none

fix test in cornflow-server
  cornflow-server/cornflow/cli/tools/schema_generator.py
Due: server

fix tests
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_server.yml
  cornflow-server/airflow_config/scripts/init_airflow_service.py
Due: server

simplify test_cornflow_client file
  .github/workflows/test_cornflow_client.yml
Due: none

KPIs DAG
  cornflow-dags/DAG/activate_dags.py
  cornflow-dags/DAG/rostering/core/experiment.py
  cornflow-dags/DAG/rostering/schemas/kpis.json
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/endpoints/case.py
  cornflow-server/cornflow/endpoints/dag.py
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/models/case.py
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/schemas/case.py
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/requirements.txt
  libs/client/cornflow_client/airflow/api.py
  libs/client/cornflow_client/airflow/dag_utilities.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/databricks/api.py
  libs/client/cornflow_client/raw_cornflow_client.py
Due: server, client, dags

Added migration
  cornflow-server/cornflow/migrations/versions/509d280698e4_.py
Due: server

Small changes
  cornflow-dags/DAG/activate_dags.py
  libs/client/cornflow_client/raw_cornflow_client.py
Due: client, dags

Small fix
  libs/client/cornflow_client/cornflow_client.py
Due: client

Fix airflow interactions
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/migrations/versions/509d280698e4_.py
  cornflow-server/cornflow/models/execution.py
  libs/client/cornflow_client/airflow/api.py
  libs/client/cornflow_client/cornflow_client.py
Due: server, client

Small change for databricks compatibility
  libs/client/cornflow_client/databricks/api.py
Due: client

Feature/update requirements (#712)
  .github/dependabot.yml
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/requirements.txt
  libs/client/setup.py
Due: server, client, dags

Bump version
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

Bump version
  cornflow-server/requirements.txt
Due: server

Small fix in relaunch execution endpoint
  cornflow-server/cornflow/endpoints/execution.py
  libs/client/cornflow_client/core/experiment.py
Due: server, client

Bump cornflow-client version on cornflow-server
  cornflow-server/requirements.txt
Due: server

Make schema_kpis not mandatory
  libs/client/cornflow_client/core/experiment.py
Due: client

KPIs checks
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/instance_solution.py
Due: client

Unit tests
  cornflow-dags/DAG/rostering/core/experiment.py
  cornflow-dags/DAG/rostering/schemas/solution_checks.json
  cornflow-dags/DAG/solve_model_dag/__init__.py
  cornflow-dags/tests/unit/test_dags.py
  cornflow-dags/tests/unit/test_rostering.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/tests/base_test_execution.py
  cornflow-server/cornflow/tests/const.py
  cornflow-server/cornflow/tests/custom_liveServer.py
  cornflow-server/cornflow/tests/data/rostering/test_instance_1.json
  cornflow-server/cornflow/tests/data/rostering/test_instance_3.json
  cornflow-server/cornflow/tests/data/rostering/test_instance_4.json
  cornflow-server/cornflow/tests/data/rostering/test_instance_bad_timeslot_length.json
  cornflow-server/cornflow/tests/data/rostering/test_solution_1.json
  cornflow-server/cornflow/tests/data/rostering/test_solution_3.json
  cornflow-server/cornflow/tests/data/rostering/test_solution_4.json
  cornflow-server/cornflow/tests/integration/test_cornflowclient.py
  cornflow-server/cornflow/tests/integration/test_data_checks_kpis.py
  cornflow-server/cornflow/tests/unit/test_cases.py
  cornflow-server/cornflow/tests/unit/test_data_checks.py
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/tests/integration/test_cornflow_integration.py
  libs/client/cornflow_client/tests/integration/test_raw_cornflow_integration.py
  libs/client/cornflow_client/tests/unit/test_abc.py
  libs/client/cornflow_client/tests/unit/test_core.py
Due: server, client, dags

Try fix cornflow-client tests by uninstalling cc before reinstalling it
  .github/workflows/test_cornflow_client.yml
Due: none

Try fix cornflow-server tests
  cornflow-server/cornflow/tests/integration/test_data_checks_kpis.py
Due: none

first implentation of venvs
  cornflow-dags/DAG/activate_dags.py
  cornflow-dags/DAG/update_all_schemas.py
  cornflow-server/airflow_config/scripts/init_airflow_service.py
  docker-compose-cornflow-celery.yml
  helm-charts/cornflow/values.yaml
  libs/client/cornflow_client/core/application.py
Due: server, client, dags

Small change
  cornflow-server/cornflow/endpoints/data_check.py
Due: server

Accept old url as well
  cornflow-server/cornflow/endpoints/__init__.py
Due: server

Fix number of permissions
  cornflow-server/cornflow/tests/unit/test_cli.py
Due: none

Update requirements.txt
  cornflow-server/requirements.txt
Due: server

Update requirements.txt (#716)
  cornflow-server/requirements.txt
Due: server

Bump version
  libs/client/setup.py
Due: client

Bump version
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/changelog.rst
Due: server, client, dags

Path conditions:
  server: any of: cornflow-server/**, but not: cornflow-server/cornflow/tests/**
  client: any of: libs/client/**, but not: libs/client/tests/**
  dags: any of: cornflow-dags/**, but not: cornflow-dags/tests/**
