Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

Adapted unit tests
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: none

bump version
  cornflow-server/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/setup.py
  docs/source/conf.py
  libs/client/setup.py
Due: server, client

bump version
  cornflow-server/requirements.txt
Due: server

Enhance Airflow API documentation and deprecate run_dag method
  cornflow-server/cornflow/shared/airflow/api.py
  libs/client/cornflow_client/airflow/api.py
Due: server, client

Refactor DeployedOrch to DeployedWorkflow across the codebase
  cornflow-server/cornflow/commands/dag.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/endpoints/case.py
  cornflow-server/cornflow/endpoints/dag.py
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/instance.py
  cornflow-server/cornflow/endpoints/schemas.py
  cornflow-server/cornflow/migrations/versions/cef1df240b27_.py
  cornflow-server/cornflow/models/__init__.py
  cornflow-server/cornflow/models/dag.py
  cornflow-server/cornflow/models/dag_permissions.py
  cornflow-server/cornflow/tests/data/models/permission.py
  cornflow-server/cornflow/tests/integration/test_commands.py
  cornflow-server/cornflow/tests/unit/test_commands.py
  cornflow-server/cornflow/tests/unit/test_dags.py
Due: server

Update foreign key references in PermissionsDAG model to align with recent naming changes
  cornflow-server/cornflow/models/dag.py
  cornflow-server/cornflow/models/dag_permissions.py
  cornflow-server/cornflow/tests/data/models/permission.py
  cornflow-server/cornflow/tests/unit/test_schema_from_models.py
Due: server

error in migration
  cornflow-server/cornflow/migrations/versions/cef1df240b27_.py
Due: server

clean requirements
  cornflow-server/requirements.txt
Due: server

Remove unused import of DATABRICKS_TO_STATE_MAP from Databricks API client files in both shared and client directories.
  cornflow-server/cornflow/shared/databricks/api.py
  libs/client/cornflow_client/databricks/api.py
Due: server, client

update requirements.txt
  cornflow-server/requirements.txt
Due: server

using only client, not shared. Also removing some unused imports
  cornflow-server/cornflow/commands/dag.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/commands/schemas.py
  cornflow-server/cornflow/models/user.py
  cornflow-server/cornflow/shared/airflow/__init__.py
  cornflow-server/cornflow/shared/airflow/api.py
  cornflow-server/cornflow/shared/airflow/dag_utilities.py
  cornflow-server/cornflow/shared/authentication/decorators.py
  cornflow-server/cornflow/shared/databricks/__init__.py
  cornflow-server/cornflow/shared/databricks/api.py
  cornflow-server/cornflow/tests/unit/test_cases.py
  cornflow-server/cornflow/tests/unit/test_main_alarms.py
Due: server

OpenID user name (#674)
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: server

PR final changes
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/shared/constants_cli.py
Due: server

changes from merge
  cornflow-server/cornflow/tests/base_test_execution.py
Due: none

small needed change
  cornflow-server/cornflow/tests/base_test_execution.py
Due: none

solving test problem
  cornflow-server/cornflow/tests/base_test_execution.py
Due: none

New tests
  .github/workflows/test_cornflow_server.yml
  cornflow-server/cornflow/tests/const.py
  cornflow-server/cornflow/tests/data/validators_check_password_pattern_tests.json
  cornflow-server/cornflow/tests/data/validators_is_special_character_tests.json
  cornflow-server/cornflow/tests/unit/test_validators.py
Due: none

Bump version to 1.3.0rc1
  cornflow-server/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docs/source/conf.py
  libs/client/setup.py
Due: server, client

helm chart tests, package and upload to public GCS
  .github/workflows/release_cornflow_helm_chart.yml
  .github/workflows/test_cornflow_helm_chart.yml
  .github/workflows/test_cornflow_helm_chart_integration.yml
  .gitignore
  helm-charts/BEST_PRACTICES.md
  helm-charts/cornflow/Chart.yaml
  helm-charts/cornflow/README.md
  helm-charts/cornflow/scripts/release.sh
  helm-charts/cornflow/tests/TEST_README.md
  helm-charts/cornflow/tests/quick-test.sh
  helm-charts/cornflow/tests/test-manifests-with-airflow.yaml
  helm-charts/cornflow/tests/test-manifests.yaml
  helm-charts/cornflow/tests/test-values-with-airflow.yaml
  helm-charts/cornflow/tests/test-values.yaml
  helm-charts/cornflow/tests/test.sh
  helm-charts/cornflow/values.yaml
Due: none

default cornflow-server service name in values.yaml
  helm-charts/cornflow/Chart.yaml
  helm-charts/cornflow/values.yaml
Due: none

ignore helm test manifests and packages
  .gitignore
  helm-charts/cornflow/.helmignore
  helm-charts/cornflow/tests/test-manifests-with-airflow.yaml
  helm-charts/cornflow/tests/test-manifests.yaml
Due: none

fix ingress example
  helm-charts/cornflow/.helmignore
  helm-charts/cornflow/examples/ingress-example.yaml
  helm-charts/cornflow/templates/ingress.yaml
  helm-charts/cornflow/values.yaml
Due: none

remove ingress from helm charts, tests and examples
  .github/workflows/test_cornflow_helm_chart_integration.yml
  helm-charts/BEST_PRACTICES.md
  helm-charts/cornflow/README.md
  helm-charts/cornflow/tests/TEST_README.md
  helm-charts/cornflow/tests/test-values-with-airflow.yaml
  helm-charts/cornflow/tests/test-values.yaml
  helm-charts/deploy-example.sh
Due: none

Return username, first and last name, and updated_at in get_one_execution endpoint
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: server

Small changes for OID
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

changes from merge
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/shared/const.py
Due: server

Small change to avoid private methods
  cornflow-server/cornflow/cli/service.py
Due: server

Try find error
  cornflow-server/cornflow/cli/service.py
Due: server

restoring change
  cornflow-server/cornflow/cli/service.py
Due: server

Fixed test
  cornflow-dags/tests/unit/test_rostering.py
Due: none

change to a specific error
  cornflow-dags/DAG/update_all_schemas.py
Due: dags

Added check to MyInstance
  cornflow-dags/tests/data/auto_scripts/two_valid_types.py
Due: none

align dependencies in pyproject.toml
  libs/client/pyproject.toml
Due: client

rolled back library name, version and contact
  libs/client/pyproject.toml
Due: client

fixed github CI
  .github/workflows/test_cornflow_client.yml
  libs/client/setup.py
Due: client

more changes to github CI
  .github/workflows/test_cornflow_client.yml
Due: none

python 3.9
  libs/client/pyproject.toml
Due: client

changes to cornflow-server project + CI
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
  cornflow-server/pyproject.toml
  cornflow-server/requirements-dev.txt
  cornflow-server/requirements.txt
  cornflow-server/setup.py
Due: server

Path conditions:
  server: any of: cornflow-server/**, but not: cornflow-server/cornflow/tests/**
  client: any of: libs/client/**, but not: libs/client/tests/**
  dags: any of: cornflow-dags/**, but not: cornflow-dags/tests/**
