Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

small error
  cornflow-server/cornflow/endpoints/execution.py
Due: server

bump version
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  libs/client/setup.py
Due: server, client

solving problem with return in get_run_status databricks
  cornflow-server/cornflow/endpoints/execution.py
Due: server

Small correction for microsoft use of OID
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

change on get execution schemas
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/tests/const.py
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: server

add fields "username" and "updated_at" to get execution schema
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: server

add missing file
  cornflow-server/cornflow/tests/data/new_execution_custom_config.json
Due: none

Feature/change execution endpoint (#636)
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/tests/const.py
  cornflow-server/cornflow/tests/data/new_execution_custom_config.json
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: server

bump version
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

small change
  cornflow-server/cornflow/tests/data/patch_databricks_get_orch_info.json
  cornflow-server/cornflow/tests/data/patch_databricks_get_run_status.json
Due: none

Add cornflow version to health endpoint
  cornflow-server/cornflow/endpoints/health.py
  cornflow-server/cornflow/schemas/health.py
Due: server

Added tests
  cornflow-server/cornflow/tests/unit/test_health.py
Due: none

Bump version
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

Adding small change
  cornflow-server/cornflow/endpoints/health.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_health.py
Due: server

Feature/health_enpoint_with_version (#638)
  cornflow-server/cornflow/endpoints/health.py
  cornflow-server/cornflow/schemas/health.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_health.py
Due: server

bump version
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
Due: server

get_solver_config now returns the solver name.
  libs/client/cornflow_client/core/experiment.py
Due: client

Adding new patch databricks
  cornflow-server/cornflow/tests/data/patch_databricks_get_orch_info.json
  cornflow-server/cornflow/tests/data/patch_databricks_get_run_status.json
Due: none

Small change in test_roles. Comparing lists, we do not care about order. https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertCountEqual
  cornflow-server/cornflow/tests/unit/test_roles.py
Due: none

bugfix
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/execution.py
Due: server

small fix
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: none

improving health coverage
  cornflow-server/cornflow/tests/unit/test_health.py
Due: none

Update requirements.txt
  libs/client/requirements.txt
Due: client

update to new marshmallow version
  libs/client/cornflow_client/schema/dict_functions.py
Due: client

cleaning
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/permission.py
  cornflow-server/cornflow/models/dag.py
  cornflow-server/cornflow/models/permissions.py
  cornflow-server/cornflow/shared/databricks.py
  cornflow-server/cornflow/shared/exceptions.py
  libs/client/cornflow_client/orchestrator_constants.py
Due: server, client

cleaning
  cornflow-server/cornflow/shared/const.py
Due: server

fixed deprecated methods
  cornflow-server/README.rst
  libs/client/cornflow_client/tests/unit/test_varnames.py
Due: server, client

Add test for permissions not deleted when roles are removed from code
  cornflow-server/cornflow/tests/unit/test_commands.py
Due: none

FIX permissions security problem
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/tests/unit/test_commands.py
Due: server
