Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

basic version changes
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  libs/client/setup.py
Due: server, client

Enhance permissions command to include roles not in ROLES_MAP and their associated actions. Updated base permission assignment logic to accommodate new roles dynamically.
  cornflow-server/cornflow/commands/permissions.py
Due: server

bump version
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_commands.py
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  libs/client/setup.py
Due: server, client

fix
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/tests/unit/test_commands.py
Due: server

bump version
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  libs/client/setup.py
Due: server, client

Endpoints get updated if any attribute changes
  cornflow-server/cornflow/commands/views.py
Due: server

small changes on views
  cornflow-server/cornflow/commands/views.py
Due: server

cleaning
  cornflow-server/cornflow/commands/views.py
Due: server

Initial commit
  cornflow-dags/DAG/update_all_schemas.py
Due: dags

partial commit
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/commands/access.py
Due: server

All changes for permissions
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/commands/access.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/commands/views.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/tests/unit/test_external_role_creation.py
Due: server

Add .dagignore file
  cornflow-dags/DAG/.dagignore
  cornflow-dags/DAG/update_all_schemas.py
Due: dags

Fixed issue: test_dags accepts two valid types
  cornflow-dags/tests/unit/test_dags.py
  cornflow-dags/tests/unit/test_twovalidtypes.py
Due: none

Add test
  cornflow-dags/tests/unit/test_dags.py
Due: none

Final checks, all done
  cornflow-dags/tests/unit/test_twovalidtypes.py
Due: none

modify import from airflow.utils.db
  cornflow-dags/DAG/update_all_schemas.py
  cornflow-dags/tests/unit/test_dags.py
Due: dags

add default_patterns
  cornflow-dags/DAG/update_all_schemas.py
Due: dags

Changed the folder
  tests/unit/test_issue_twovalidtypes.py
Due: none

PR changes
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/commands/views.py
  cornflow-server/cornflow/tests/unit/test_external_role_creation.py
Due: server

PR requested changes
  cornflow-server/cornflow/commands/views.py
  cornflow-server/cornflow/tests/unit/test_external_role_creation.py
Due: server

Some more changes PR
  cornflow-server/cornflow/commands/permissions.py
Due: server

Adding missing test file
  cornflow-server/cornflow/tests/data/expected_permissions.json
Due: none

Solving test problems
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/tests/data/expected_permissions.json
  cornflow-server/cornflow/tests/unit/test_external_role_creation.py
Due: server

Refactoring
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/cli/roles.py
  cornflow-server/cornflow/commands/access.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/commands/roles.py
  cornflow-server/cornflow/tests/unit/test_commands.py
  cornflow-server/cornflow/tests/unit/test_external_role_creation.py
Due: server

Cleaning
  cornflow-server/cornflow/commands/roles.py
  cornflow-server/cornflow/tests/unit/test_commands.py
Due: server

Adding missing file
  cornflow-server/cornflow/commands/auxiliar.py
Due: server

Adding change so new roles only have get permissions ( unless specified in extra_permissions
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/tests/data/expected_permissions.json
  cornflow-server/cornflow/tests/unit/test_external_role_creation.py
Due: server

Small change
  cornflow-server/cornflow/commands/permissions.py
Due: server

migrated to pyproject.toml & take out pulp and ortools mandatory dependency, moved it to dev
  libs/client/cornflow_client/constants.py
  libs/client/pyproject.toml
  libs/client/requirements-dev.txt
  libs/client/requirements.txt
  libs/client/setup.py
Due: client

missing modules
  libs/client/pyproject.toml
Due: client

cleaning and correcting mock error
  cornflow-server/cornflow/commands/access.py
  cornflow-server/cornflow/commands/auxiliar.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/commands/roles.py
  cornflow-server/cornflow/commands/views.py
  cornflow-server/cornflow/tests/unit/test_external_role_creation.py
Due: server

import change
  cornflow-server/cornflow/tests/unit/test_external_role_creation.py
Due: none

black on commands
  cornflow-server/cornflow/commands/auxiliar.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/commands/views.py
Due: server

bump version
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  libs/client/setup.py
Due: server, client

bump correct version
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  libs/client/setup.py
Due: server, client

Adding new variable CUSTOM_ROLES_ACTIONS
  CUSTOM_ROLES_ACTIONS_EXAMPLE.md
  cornflow-server/cornflow/commands/auxiliar.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/commands/roles.py
  cornflow-server/cornflow/tests/unit/test_external_role_creation.py
Due: server

Adding new variable CUSTOM_ROLES_ACTIONS (#652)
  CUSTOM_ROLES_ACTIONS_EXAMPLE.md
  cornflow-server/cornflow/commands/auxiliar.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/commands/roles.py
  cornflow-server/cornflow/tests/unit/test_external_role_creation.py
Due: server

Modified the endpoints for default schema
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/schemas/execution.py
Due: server

Path conditions:
  server: any of: cornflow-server/**, but not: cornflow-server/cornflow/tests/**
  client: any of: libs/client/**, but not: libs/client/tests/**
  dags: any of: cornflow-dags/**, but not: cornflow-dags/tests/**
