Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

Modify k8s
  cornflow-server/airflow_config/Dockerfile-k8s
Due: server

fix image
  helm-charts/cornflow/values.yaml
Due: none

Update Docker images and workflows for Cornflow v1.3.0
  .github/workflows/build_docs.yml
  .github/workflows/cornflow-client-publish-to-pypi.yml
  .github/workflows/cornflow-publish-to-pypi.yml
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

Update changelogs for Cornflow v1.3.0
  cornflow-server/changelog.rst
  libs/client/changelog.rst
Due: server, client

Update migration files to reflect new revision identifiers
  cornflow-server/cornflow/migrations/versions/999b98e24225.py
  cornflow-server/cornflow/migrations/versions/cef1df240b27_.py
Due: server

Try fix
  .github/workflows/build_docs.yml
Due: none

Fake change
  docs/source/AUTHORS.txt
Due: none

try fix
  .github/workflows/build_docs.yml
  docs/source/AUTHORS.txt
Due: none

Bump cornflow-client version on cornflow-server requirements
  cornflow-server/requirements.txt
Due: server

fix dependency versions
  .github/dependabot.yml
  cornflow-dags/requirements.txt
  cornflow-server/requirements.txt
  libs/client/requirements.txt
Due: server, client, dags

fix dependency versions
  cornflow-server/requirements.txt
  libs/client/requirements.txt
Due: server, client

fix dependency versions
  cornflow-server/requirements.txt
Due: server

bump version
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/setup.py
Due: server, client

bump client in server
  cornflow-server/requirements.txt
Due: server

bump client in server
  cornflow-server/setup.py
Due: server

Reverse update
  cornflow-server/requirements.txt
Due: server

update all
  cornflow-server/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: server

Compatibilidad con Mango
  libs/client/requirements.txt
Due: client

update docs to uv
  .github/workflows/build_docs.yml
  cornflow-dags/README.rst
  cornflow-server/README.rst
  docs/pyproject.toml
  docs/source/main/install.rst
  docs/uv.lock
  libs/client/README.rst
Due: server, client, dags

update docs to uv
  docs/source/deploy/docker-compose.yml.rst
  docs/source/deploy/docker-stack.rst
  docs/source/deploy/logs.rst
  docs/source/guides/deploy_solver_new.rst
Due: none

update cornflow-dags to uv
  .github/workflows/test_cornflow_dags.yml
  cornflow-dags/.coveragerc
  cornflow-dags/pyproject.toml
  cornflow-dags/requirements-dev.txt
  cornflow-dags/requirements.txt
  cornflow-dags/uv.lock
Due: dags

update cornflow-server to uv
  .github/workflows/test_cornflow_server.yml
  cornflow-server/.coveragerc
  cornflow-server/MANIFEST.in
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/airflow_config/Dockerfile.base
  cornflow-server/airflow_config/scripts/init_airflow_service.py
  cornflow-server/airflow_config/scripts/solvers/get_gurobi.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/tests/unit/test_licenses.py
  cornflow-server/pyproject.toml
  cornflow-server/requirements-dev.txt
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  cornflow-server/uv.lock
Due: server

update cornflow-client to uv
  .github/workflows/cornflow-client-publish-to-pypi.yml
  .github/workflows/test_cornflow_client.yml
  libs/client/.coveragerc
  libs/client/MANIFEST.in
  libs/client/cornflow_client/airflow/dag_utilities.py
  libs/client/pyproject.toml
  libs/client/requirements-dev.txt
  libs/client/requirements.txt
  libs/client/setup.py
  libs/client/uv.lock
Due: client

update cornflow to uv
  .github/workflows/cornflow-publish-to-pypi.yml
  .github/workflows/sonarqube.yml
  QUICK_START_GUIDE.RST
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: none

update docs version
  docs/pyproject.toml
Due: none

Fix test cornflow-client
  .github/workflows/sonarqube.yml
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
  cornflow-dags/pyproject.toml
  cornflow-server/README.rst
Due: server, dags

fix test cornflow-dags
  .github/workflows/test_cornflow_dags.yml
Due: none

fix test cornflow-client
  .github/workflows/test_cornflow_client.yml
Due: none

fix tests
  .github/workflows/cornflow-client-publish-to-pypi.yml
  .github/workflows/cornflow-publish-to-pypi.yml
  .github/workflows/sonarqube.yml
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
Due: none

fix cornflow-client
  .github/workflows/test_cornflow_client.yml
Due: none

fix tests
  .github/workflows/test_cornflow_client.yml
Due: none

fix tests
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
Due: none

fix test integration
  .github/workflows/test_cornflow_client.yml
Due: none

fix test
  .github/workflows/test_cornflow_client.yml
Due: none

Path conditions:
  server: any of: cornflow-server/**, but not: cornflow-server/cornflow/tests/**
  client: any of: libs/client/**, but not: libs/client/tests/**
  dags: any of: cornflow-dags/**, but not: cornflow-dags/tests/**
