Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

more changes to github CI
  .github/workflows/test_cornflow_client.yml
Due: none

pass airflow constraints over environment to uv, free cornflow-client version in airflow requirements.txt
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
Due: none

for some reason test_cornflow_dags has two steps of dependencies. I'm merging them.
  .github/workflows/test_cornflow_dags.yml
  cornflow-dags/requirements.txt
Due: dags

uv venv was missing
  .github/workflows/test_cornflow_dags.yml
Due: none

.venv!=venv
  .github/workflows/test_cornflow_dags.yml
Due: none

fixed dependency on pulp+cp status mappings.
  cornflow-dags/requirements.txt
  libs/client/cornflow_client/constants.py
Due: client, dags

free pulp version and cornflow-client in cornflow-server
  cornflow-server/pyproject.toml
Due: server

more changes to client, airflow installation
  .github/workflows/test_cornflow_server.yml
  cornflow-dags/requirements.txt
Due: dags

test without failing license test
  cornflow-server/cornflow/tests/unit/test_licenses.py
Due: none

fix for licenses
  cornflow-server/cornflow/tests/unit/test_licenses.py
  cornflow-server/pyproject.toml
Due: server

Bugfix migrations
  cornflow-server/cornflow/cli/migrations.py
  cornflow-server/cornflow/shared/const.py
Due: server

Changed dockerfile
  cornflow-server/Dockerfile
Due: server

Restored dockerfile
  cornflow-server/Dockerfile
Due: server

Fixed bug with migrations command (#681)
  cornflow-server/cornflow/cli/migrations.py
  cornflow-server/cornflow/shared/const.py
Due: server

Version change
  cornflow-server/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docs/source/conf.py
  libs/client/setup.py
Due: server, client

small error
  cornflow-server/requirements.txt
Due: server

update requirements.txt
  cornflow-server/requirements.txt
Due: server

update version
  cornflow-server/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docs/source/conf.py
  libs/client/setup.py
Due: server, client

update version
  cornflow-server/requirements.txt
Due: server

delete hardcoded db host in values.yaml
  helm-charts/cornflow/templates/cornflow-deployment.yaml
  helm-charts/cornflow/values.yaml
Due: none

delete hardcoded airflow url in values.yaml
  helm-charts/cornflow/templates/cornflow-deployment.yaml
  helm-charts/cornflow/values.yaml
Due: none

delete airflow-dags-pvc.yaml
  helm-charts/cornflow/templates/airflow-dags-pvc.yaml
Due: none

delete extraVolumes and extraVolumeMounts in values.yaml
  helm-charts/cornflow/values.yaml
Due: none

existingClaim recommended in values.yaml
  helm-charts/cornflow/values.yaml
Due: none

delete comment in values.yaml
  helm-charts/cornflow/values.yaml
Due: none

upgrade airflow version to 2.10.5
  cornflow-server/airflow_config/Dockerfile
Due: server

New docker compose to ease local deployment
  docker-compose-cornflow-local-build.yml
  docker-compose-cornflow-new-dags.yml
Due: none

new requirements with no problems for local deployment
  cornflow-server/requirements-dev-sqlite.txt
  cornflow-server/requirements-sqlite.txt
Due: server

Update sonarqube.yml
  .github/workflows/sonarqube.yml
Due: none

Update sonarqube.yml (#684)
  .github/workflows/sonarqube.yml
Due: none

Table endpoints are optional
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/shared/utils_tables.py
Due: server

Fixed unit tests
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_tables.py
Due: server

Fixed commands to init permission database
  cornflow-server/cornflow/commands/views.py
Due: server

Fix tests again
  cornflow-server/cornflow/commands/views.py
Due: server

Fix tests again
  cornflow-server/cornflow/commands/auxiliar.py
Due: server

Rename resource properly
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/commands/views.py
  cornflow-server/cornflow/endpoints/__init__.py
Due: server

Fix tests again?
  cornflow-server/cornflow/tests/unit/test_tables.py
Due: none

Feature/oauth fix (#687)
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server
