Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

Translate comments to English
  cornflow-dags/DAG/update_all_schemas.py
  cornflow-dags/DAG/update_dag_registry.py
  helm-charts/cornflow/values.yaml
Due: dags

Remove helm chart notes file
  helm-charts/cornflow/CLAUDE.md
Due: none

update airflow image
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: none

Create DAG permissions when deployed DAGs are registered or updated
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/endpoints/dag.py
  cornflow-server/cornflow/models/dag_permissions.py
  cornflow-server/cornflow/schemas/__init__.py
  cornflow-server/cornflow/schemas/dag.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/shared/log_config.py
  cornflow-server/cornflow/tests/unit/test_commands.py
  cornflow-server/cornflow/tests/unit/test_dag_permissions.py
  cornflow-server/cornflow/tests/unit/test_dags.py
Due: server

Reduce DAG permissions fix to the minimal change
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/endpoints/dag.py
  cornflow-server/cornflow/models/dag_permissions.py
  cornflow-server/cornflow/schemas/__init__.py
  cornflow-server/cornflow/schemas/dag.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/shared/log_config.py
  cornflow-server/cornflow/tests/unit/test_commands.py
  cornflow-server/cornflow/tests/unit/test_dag_permissions.py
  cornflow-server/cornflow/tests/unit/test_dags.py
Due: server

Create DAG permissions when deployed DAGs are registered or updated (#764)
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/endpoints/dag.py
  cornflow-server/cornflow/tests/unit/test_commands.py
  cornflow-server/cornflow/tests/unit/test_dags.py
Due: server
