Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

Refresh-token sessions: sliding inactivity timeout (server + client)
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/endpoints/mfa.py
  cornflow-server/cornflow/endpoints/refresh.py
  cornflow-server/cornflow/endpoints/signup.py
  cornflow-server/cornflow/migrations/versions/c3f2a1b4e5d6_.py
  cornflow-server/cornflow/models/__init__.py
  cornflow-server/cornflow/models/session.py
  cornflow-server/cornflow/models/user.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
  cornflow-server/cornflow/tests/unit/test_refresh_token.py
  cornflow-server/cornflow/tests/unit/test_token.py
  libs/client/cornflow_client/cornflow_client.py
  libs/client/cornflow_client/raw_cornflow_client.py
  libs/client/cornflow_client/tests/integration/test_cornflow_integration.py
Due: server, client

Refresh-token hardening: client auto-refresh, rate limit, purge, audit, docs
  cornflow-server/cornflow/cli/__init__.py
  cornflow-server/cornflow/cli/sessions.py
  cornflow-server/cornflow/endpoints/refresh.py
  cornflow-server/cornflow/models/session.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/tests/unit/test_refresh_token.py
  cornflow-server/cornflow/tests/unit/test_security_hardening.py
  docs/source/deploy/access.rst
  libs/client/cornflow_client/raw_cornflow_client.py
  libs/client/cornflow_client/tests/unit/test_client_refresh.py
Due: server, client

Use named execution-state constants instead of magic numbers (#745)
  cornflow-server/cornflow/endpoints/execution.py
Due: server

Validate Databricks env vars with a clear error (#743)
  cornflow-server/cornflow/cli/service.py
Due: server

Remove duplicate email body attachment (#742)
  cornflow-server/cornflow/shared/email.py
Due: server

Disable SQLALCHEMY_TRACK_MODIFICATIONS by default (#741)
  cornflow-server/cornflow/config.py
Due: server

Harden SSH-registration helpers (no shell, no injection) (#740)
  cornflow-server/cornflow/cli/service.py
Due: server

Platform viewer/planner roles, platform data isolation, service attribution
  cornflow-server/cornflow/cli/users.py
  cornflow-server/cornflow/commands/auxiliar.py
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/meta_resource.py
  cornflow-server/cornflow/endpoints/user_role.py
  cornflow-server/cornflow/models/base_data_model.py
  cornflow-server/cornflow/models/user_role.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/data/expected_permissions.json
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_external_role_creation.py
  cornflow-server/cornflow/tests/unit/test_platform_isolation.py
  cornflow-server/cornflow/tests/unit/test_roles.py
  cornflow-server/cornflow/tests/unit/test_security_hardening.py
  docs/source/deploy/access.rst
Due: server

API keys: read-only scope, rotation grace and expiry notifications
  cornflow-server/cornflow/cli/__init__.py
  cornflow-server/cornflow/cli/tokens.py
  cornflow-server/cornflow/cli/users.py
  cornflow-server/cornflow/commands/token_expiry.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/api_key.py
  cornflow-server/cornflow/migrations/versions/d4e8b2c6f109_.py
  cornflow-server/cornflow/models/user.py
  cornflow-server/cornflow/schemas/user.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/shared/email.py
  cornflow-server/cornflow/tests/unit/test_api_key_lifecycle.py
  cornflow-server/cornflow/tests/unit/test_security_hardening.py
  docs/source/deploy/access.rst
  libs/client/cornflow_client/cornflow_client.py
  libs/client/cornflow_client/raw_cornflow_client.py
Due: server, client

update docker compose, and dockerfile of airflow
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/airflow_config/scripts/init_airflow_service.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: server

bump client
  libs/client/setup.py
Due: client

bump cornflow
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: server, dags

Update requirements.txt
  cornflow-server/requirements.txt
Due: server

Fix: revoking a session must also stop the access tokens in circulation
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/tests/unit/test_refresh_token.py
Due: server

Warn at startup when the session windows are inconsistent
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/tests/unit/test_refresh_token.py
Due: server

Fix: apply the platform isolation to the executions list too
  cornflow-server/cornflow/models/base_data_model.py
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/tests/unit/test_platform_isolation.py
Due: server

Fix: an expired access token must answer 401 so clients renew the session
  cornflow-server/cornflow/endpoints/refresh.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
  libs/client/cornflow_client/raw_cornflow_client.py
  libs/client/cornflow_client/tests/unit/test_client_refresh.py
Due: server, client

Exempt service accounts from platform isolation and deprecate bi_token
  cornflow-server/cornflow/cli/users.py
  cornflow-server/cornflow/models/base_data_model.py
  cornflow-server/cornflow/tests/unit/test_platform_isolation.py
Due: server

Single-use passwords on provisioning, SECRET_KEY fix and audit polish
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/cli/users.py
  cornflow-server/cornflow/commands/users.py
  cornflow-server/cornflow/endpoints/api_key.py
  cornflow-server/cornflow/endpoints/signup.py
  cornflow-server/cornflow/endpoints/user_role.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_sign_up.py
Due: server

Restricted signup mode, user.created audit and platform-role TOTP step-up
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/commands/users.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/signup.py
  cornflow-server/cornflow/endpoints/user_role.py
  cornflow-server/cornflow/schemas/user_role.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_platform_isolation.py
  cornflow-server/cornflow/tests/unit/test_security_hardening.py
  cornflow-server/cornflow/tests/unit/test_sign_up.py
Due: server

Fix a same-second flake in the refresh integration test
  libs/client/cornflow_client/tests/integration/test_cornflow_integration.py
Due: client

update CI workflows to Airflow 3.2.2
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
  cornflow-dags/tests/integration/test_dags_af.py
Due: none

migrate remaining DAGs to Airflow 3 syntax
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
  cornflow-dags/DAG/auto_scripts/automatic_scripts.py
  cornflow-dags/DAG/execution_files_cleanup.py
  cornflow-dags/DAG/rostering/__init__.py
  cornflow-dags/DAG/run_deployed_dags.py
  cornflow-dags/DAG/update_all_schemas.py
  libs/client/cornflow_client/airflow/dag_utilities.py
Due: client, dags

fix task context for Airflow 3 and harden CI airflow setup
  .github/workflows/sonarqube.yml
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
  libs/client/cornflow_client/airflow/dag_utilities.py
Due: client

make client integration tests robust to fast executions
  libs/client/cornflow_client/tests/integration/test_cornflow_integration.py
  libs/client/cornflow_client/tests/integration/test_raw_cornflow_integration.py
Due: client

Keep soft deleted rows out of the bulk update lookup
  cornflow-server/cornflow/endpoints/meta_resource.py
  cornflow-server/cornflow/tests/unit/test_meta_resource.py
Due: server

change default dags
  cornflow-dags/DAG/update_all_schemas.py
Due: dags

fix airflow plugin to update Xcom Warning
  cornflow-server/airflow_config/plugins/XCom/gce_xcom_backend.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  helm-charts/cornflow/Chart.yaml
  helm-charts/cornflow/values.yaml
Due: server

update airflow dependency
  cornflow-server/airflow_config/Dockerfile
Due: server

add small change requested
  cornflow-server/cornflow/endpoints/meta_resource.py
  cornflow-server/cornflow/tests/unit/test_meta_resource.py
Due: server

Solve small exception. Before, we would get an error if id existed on deleted rows but unique keys would not match. Now, we replace the deleted row if id is the same.
  cornflow-server/cornflow/endpoints/meta_resource.py
  cornflow-server/cornflow/tests/unit/test_meta_resource.py
Due: server

Keep soft deleted rows out of the bulk update lookup (#762)
  cornflow-server/cornflow/endpoints/meta_resource.py
  cornflow-server/cornflow/tests/unit/test_meta_resource.py
Due: server

test client
  libs/client/requirements.txt
Due: client

Release/v1.3.8 (#763)
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/meta_resource.py
  cornflow-server/cornflow/shared/email.py
  cornflow-server/cornflow/tests/unit/test_meta_resource.py
  libs/client/requirements.txt
Due: server, client

Bump Cornflow client
  libs/client/changelog.rst
  libs/client/setup.py
Due: client

Bump Cornflow server
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
Due: server, dags

Bump Client
  libs/client/setup.py
Due: client

Bump Cornflow
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  helm-charts/cornflow/Chart.yaml
  helm-charts/cornflow/values.yaml
Due: server, dags

Path conditions:
  server: any of: cornflow-server/**, but not: cornflow-server/cornflow/tests/**
  client: any of: libs/client/**, but not: libs/client/tests/**
  dags: any of: cornflow-dags/**, but not: cornflow-dags/tests/**
