Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

Bump version cornflow client
  libs/client/setup.py
Due: client

Bump version cornflow server
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/changelog.rst
Due: server, client, dags

Bump version cornflow server
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: server, dags

Added kpis_to_dict method
  cornflow-dags/DAG/rostering/core/experiment.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/tests/unit/test_core.py
Due: client, dags

Bump version 1.3.4rc2
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  libs/client/setup.py
Due: server, client, dags

fix
  cornflow-dags/requirements.txt
  cornflow-server/requirements.txt
Due: server, dags

bump server
  cornflow-dags/requirements.txt
  cornflow-server/requirements.txt
Due: server, dags

new version and permission_dag
  .gitignore
  cornflow-server/Dockerfile
  cornflow-server/cornflow/endpoints/dag.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docs/source/conf.py
  libs/client/cornflow_client/pulse/api.py
  libs/client/setup.py
Due: server, client

innitial commit
  cornflow-server/cornflow/commands/permissions.py
  cornflow-server/cornflow/endpoints/dag.py
  cornflow-server/cornflow/tests/unit/test_dags.py
Due: server

Save kpis jsonschema in DB, new flag for data-checks executions
  cornflow-dags/DAG/update_dag_registry.py
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/models/dag.py
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/schemas/dag.py
  cornflow-server/cornflow/tests/unit/test_dags.py
  cornflow-server/cornflow/tests/unit/test_data_checks.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/tests/integration/test_cornflow_integration.py
  libs/client/cornflow_client/tests/integration/test_raw_cornflow_integration.py
Due: server, client, dags

Missing change
  libs/client/cornflow_client/constants.py
Due: client

Added migration, small change
  cornflow-server/cornflow/migrations/versions/9cacf194fa1c_.py
  libs/client/cornflow_client/core/experiment.py
Due: server, client

Requirement version for testing
  cornflow-dags/DAG/update_dag_registry.py
  cornflow-server/requirements.txt
  libs/client/cornflow_client/core/experiment.py
Due: server, client, dags

Fix unit tests
  cornflow-server/cornflow/models/execution.py
  cornflow-server/cornflow/tests/unit/test_data_checks.py
  libs/client/cornflow_client/raw_cornflow_client.py
Due: server, client

Small fix
  cornflow-server/cornflow/commands/dag.py
Due: server

Fixed requirements.txt
  cornflow-server/requirements.txt
Due: server

Fix requirements
  cornflow-server/requirements.txt
Due: server

bump client
  libs/client/setup.py
Due: client

bump cornflow
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: server, dags

endpoint get specific daeployed DAG by ID
  cornflow-server/cornflow/endpoints/dag.py
Due: server

add get role for other roles
  cornflow-server/cornflow/endpoints/user_role.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_roles.py
Due: server

fix
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_roles.py
Due: none

Simplify test
  cornflow-server/cornflow/tests/unit/test_roles.py
Due: none

add service user
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_roles.py
Due: server

Add get role for other roles (#720)
  cornflow-server/cornflow/endpoints/user_role.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_roles.py
Due: server

Add get role for other roles (#720) (#721)
  cornflow-server/cornflow/endpoints/user_role.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow/tests/unit/test_roles.py
Due: server

bump cornflow client
  libs/client/changelog.rst
  libs/client/setup.py
Due: client

bump cornflow
  cornflow-dags/requirements.txt
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
Due: server, dags

Distinction warning/error in solution checks
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/tests/unit/test_data_checks.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/tests/unit/test_core.py
Due: server, client

Fixed rostering schema, fixed bug when solution_checks_schema is empty
  cornflow-dags/DAG/rostering/schemas/solution_checks.json
  libs/client/cornflow_client/core/application.py
Due: client, dags

Try fix
  cornflow-server/cornflow/tests/unit/test_cli.py
  libs/client/cornflow_client/core/application.py
Due: client

bump cornflow client
  libs/client/setup.py
Due: client

Fixed query
  cornflow-server/cornflow/models/execution.py
Due: server

Return kpis schemas
  cornflow-server/cornflow/endpoints/schemas.py
  cornflow-server/cornflow/tests/unit/test_schemas.py
Due: server
