Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

bump version client 2.0.0a13
  libs/client/setup.py
Due: client

bump version cornflow 2.0.0a13
  cornflow-server/Dockerfile
  cornflow-server/requirements.txt
  cornflow-server/setup.py
Due: server

Enable coverage
  .github/workflows/build_sq.yml
  sonar-project.properties
Due: none

Adding health variable. Solving problem with executions get.
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/shared/databricks.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  libs/client/cornflow_client/airflow/api.py
  libs/client/cornflow_client/databricks/api.py
Due: server, client

Implement backend-specific environment variable setup in service.py, adding support for Databricks backend and raising exceptions for invalid backend selections.
  cornflow-server/cornflow/cli/service.py
Due: server

Small change
  cornflow-server/cornflow/endpoints/execution.py
Due: server

Add missing function
  libs/client/cornflow_client/airflow/api.py
Due: client

Small change
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/shared/airflow.py
  cornflow-server/cornflow/tests/unit/tools.py
Due: server

Small change
  cornflow-server/cornflow/tests/unit/tools.py
Due: none

bump version
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  libs/client/setup.py
Due: server, client

small change
  cornflow-server/cornflow/endpoints/execution.py
Due: server

bump version server 2.0.0a14
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/health.py
Due: server

small change
  cornflow-server/cornflow/cli/service.py
Due: server

Adding DATABRICKS_HEALTH_URL to service
  cornflow-server/cornflow/cli/service.py
Due: server

small error
  cornflow-server/cornflow/cli/service.py
Due: server

small error
  cornflow-server/cornflow/endpoints/execution.py
Due: server
