Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

Added a couple of extra tests
  cornflow-server/cornflow/tests/custom_test_case.py
Due: none

Docs/small fixes (#548)
  QUICK_START_GUIDE.RST
  README.rst
  cornflow-dags/DAG/bar_cutting/README.rst
  cornflow-dags/DAG/facility_location/README.rst
  cornflow-dags/DAG/two_dimension_bin_packing/README.rst
  cornflow-dags/DAG/vrp/README.rst
  cornflow-dags/README.rst
  cornflow-server/README.rst
  cornflow-server/airflow_config/airflow_local_settings.py
  cornflow-server/cornflow/cli/README.rst
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/static/v1.json
  cornflow-server/setup.py
  docs/source/clients/python-api.rst
  docs/source/conf.py
  docs/source/deploy/access.rst
  docs/source/deploy/docker-compose.yml.rst
  docs/source/deploy/docker-stack.rst
  docs/source/deploy/index.rst
  docs/source/deploy/logs.rst
  docs/source/deploy/options.rst
  docs/source/deploy/production.rst
  docs/source/dev/cornflow_client.rst
  docs/source/examples/bar_cutting.rst
  docs/source/examples/facility_location.rst
  docs/source/examples/two_dimensional_bin_packing.rst
  docs/source/guides/coding_style.rst
  docs/source/guides/debug_with_airflow.rst
  docs/source/guides/deploy_solver_new.rst
  docs/source/index.rst
  docs/source/main/architecture.rst
  docs/source/main/concepts.rst
  docs/source/main/install.rst
  docs/source/main/introduction.rst
  libs/client/README.rst
  libs/client/cornflow_client/airflow/dag_utilities.py
  libs/client/cornflow_client/tests/integration/test_cornflow_integration.py
  libs/client/cornflow_client/tests/integration/test_raw_cornflow_integration.py
Due: server, client, dags

deleted unneeded code
  libs/client/cornflow_client/core/check_instance_solution.py
Due: client

deleted change that should not be present
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

Added some more tests
  cornflow-server/cornflow/tests/unit/test_apiview.py
Due: none

added new tests
  cornflow-server/cornflow/models/base_data_model.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_roles.py
Due: server

last changes
  cornflow-server/cornflow/models/base_data_model.py
  cornflow-server/cornflow/models/meta_models.py
  cornflow-server/cornflow/schemas/query.py
Due: server

Refactored
  libs/client/cornflow_client/core/__init__.py
  libs/client/cornflow_client/core/check_instance_solution.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/instance.py
  libs/client/cornflow_client/core/tools.py
  libs/client/cornflow_client/tests/unit/test_core.py
Due: client

Deleted unused code
  libs/client/cornflow_client/core/tools.py
Due: client

Mayor changes of openID funtionality
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/schemas/user.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
  cornflow-server/requirements.txt
Due: server

include usermodel
  cornflow-server/cornflow/tests/custom_test_case.py
Due: none

Fix user id
  cornflow-server/cornflow/tests/unit/test_roles.py
Due: none

remove hardcoded token
  cornflow-server/cornflow/tests/unit/test_token.py
Due: none

fix test_cases
  cornflow-server/cornflow/tests/unit/test_cases.py
Due: none

Raw cornflow_client/raw_cornflow_client.py updated to bearer
  libs/client/cornflow_client/raw_cornflow_client.py
Due: client

Updated how the tests are run on the cornflow-dags repo. Added more test for the rostering case to check that it works properly
  .github/workflows/test_cornflow_dags.yml
  cornflow-dags/DAG/rostering/__init__.py
  cornflow-dags/DAG/rostering/core/experiment.py
  cornflow-dags/DAG/rostering/core/instance.py
  cornflow-dags/DAG/rostering/schemas/instance_checks.json
  cornflow-dags/DAG/rostering/schemas/solution_checks.json
  cornflow-dags/tests/integration/__init__.py
  cornflow-dags/tests/integration/test_dags_af.py
  cornflow-dags/tests/unit/__init__.py
  cornflow-dags/tests/unit/test_dags.py
  cornflow-dags/tests/unit/test_rostering.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/instance.py
  libs/client/cornflow_client/tests/unit/test_core.py
Due: client, dags

Added missing file
  cornflow-dags/DAG/rostering/data/test_instance_bad_timeslot_length.json
Due: dags

Fixed two-dimension bin test problem
  cornflow-dags/DAG/two_dimension_bin_packing/core/instance.py
  cornflow-dags/DAG/two_dimension_bin_packing/schemas/instance_checks.json
Due: dags

Fixed workflow
  .github/workflows/test_cornflow_dags.yml
Due: none

Fixed issue with two bin packing?
  cornflow-dags/DAG/bar_cutting/core/experiment.py
  cornflow-dags/DAG/bar_cutting/core/instance.py
  cornflow-dags/DAG/facility_location/core/experiment.py
  cornflow-dags/DAG/facility_location/core/instance.py
  cornflow-dags/DAG/graph_coloring/core/experiment.py
  cornflow-dags/DAG/graph_coloring/core/instance.py
  cornflow-dags/DAG/knapsack/core/experiment.py
  cornflow-dags/DAG/knapsack/core/instance.py
  cornflow-dags/DAG/solve_model_dag/__init__.py
  cornflow-dags/DAG/tsp/core/experiment.py
  cornflow-dags/DAG/tsp/core/instance.py
  cornflow-dags/DAG/two_dimension_bin_packing/__init__.py
  cornflow-dags/DAG/two_dimension_bin_packing/core/instance.py
  cornflow-dags/DAG/two_dimension_bin_packing/schemas/config.json
  cornflow-dags/DAG/vrp/core/experiment.py
  cornflow-dags/DAG/vrp/core/instance.py
  cornflow-dags/requirements.txt
  cornflow-dags/tests/unit/test_dags.py
  libs/client/cornflow_client/constants.py
Due: client, dags

Fixed ROADEF checks, could be simplified and refactored
  cornflow-dags/DAG/roadef/core/experiment.py
  cornflow-dags/DAG/roadef/core/instance.py
  cornflow-dags/DAG/roadef/solvers/MIPModel.py
  cornflow-dags/DAG/roadef/solvers/PeriodicMIP.py
  cornflow-dags/tests/unit/test_dags.py
Due: dags

Enhance API view and instance endpoints with external app support
  cornflow-server/cornflow/endpoints/apiview.py
  cornflow-server/cornflow/endpoints/instance.py
  cornflow-server/cornflow/models/view.py
Due: server

Fixed integration test due to wrong path
  cornflow-dags/tests/integration/test_dags_af.py
Due: none

update with comments of pr
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_actions.py
  cornflow-server/cornflow/tests/unit/test_apiview.py
  cornflow-server/cornflow/tests/unit/test_dags.py
  cornflow-server/cornflow/tests/unit/test_instances.py
  cornflow-server/cornflow/tests/unit/test_instances_file.py
  cornflow-server/cornflow/tests/unit/test_licenses.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
  cornflow-server/cornflow/tests/unit/test_permissions.py
  cornflow-server/cornflow/tests/unit/test_roles.py
  cornflow-server/cornflow/tests/unit/test_tables.py
  cornflow-server/cornflow/tests/unit/test_token.py
  libs/client/cornflow_client/raw_cornflow_client.py
Due: server, client

fix static auth
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

Fixed test mocks
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
Due: server

Bump cornflow-client version
  libs/client/setup.py
Due: client

Bump version of cornflow
  cornflow-server/Dockerfile
  cornflow-server/requirements.txt
  cornflow-server/setup.py
Due: server

Fixed comments and deleted a couple of prints, plus some black formatting
  cornflow-server/cornflow/tests/unit/test_apiview.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
  cornflow-server/cornflow/tests/unit/test_roles.py
  cornflow-server/cornflow/tests/unit/test_users.py
Due: none

prints solve_cf
  libs/client/cornflow_client/airflow/dag_utilities.py
Due: client

Save permisions. Return all claims
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
Due: server

Fixed issues with unit tests.
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_token.py
Due: server

Deleted unneeded prints
  libs/client/cornflow_client/airflow/dag_utilities.py
Due: client

Updated datetime.utcnow() to datetime.now(UTC)
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/models/meta_models.py
  cornflow-server/cornflow/models/user.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_users.py
Due: server

Fixed final error with datetime and timezones and etcetera
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/models/meta_models.py
  cornflow-server/cornflow/models/user.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_users.py
Due: server

Now it should fix it?
  cornflow-server/cornflow/endpoints/login.py
  cornflow-server/cornflow/models/meta_models.py
  cornflow-server/cornflow/models/user.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_users.py
Due: server

PR comments
  libs/client/cornflow_client/core/experiment.py
Due: client

Skip deleted apps when updating dag_registry (#588)
  .github/workflows/test_cornflow_dags.yml
  cornflow-dags/DAG/update_dag_registry.py
Due: dags

Path conditions:
  server: any of: cornflow-server/**, but not: cornflow-server/cornflow/tests/**
  client: any of: libs/client/**, but not: libs/client/tests/**
  dags: any of: cornflow-dags/**, but not: cornflow-dags/tests/**
