Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

Update to version 1.2.5 for cornflow and cornflow-client; modified Dockerfiles and docker-compose files to reflect new image versions and healthcheck command syntax. Updated changelogs accordingly.
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

Solving security issue
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

add small /
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

Feature/oauth fix (#689)
  cornflow-server/cornflow/shared/authentication/auth.py
Due: server

solve bug
  cornflow-server/cornflow/cli/service.py
Due: server

Added alias on ariflow api class to keep old names available with deprecation warning
  cornflow-server/cornflow/models/execution.py
  libs/client/cornflow_client/airflow/api.py
Due: server, client

solve bug (#691)
  cornflow-server/cornflow/cli/service.py
Due: server

Fixed health endpoint to databricks
  cornflow-server/cornflow/endpoints/health.py
Due: server

Added alias on ariflow api class to keep old names available with deprecation warning (#692)
  cornflow-server/cornflow/models/execution.py
  libs/client/cornflow_client/airflow/api.py
Due: server, client

Resources to generate permissions for includes signup and login now jsut in case
  cornflow-server/cornflow/endpoints/__init__.py
Due: server

Refactor conditional endpoints to separate base classes and URLs for signup and login
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/shared/const.py
Due: server

Fixed health endpoint to databricks (#693)
  cornflow-server/cornflow/endpoints/health.py
Due: server

Change where dict is created
  cornflow-server/cornflow/endpoints/__init__.py
  cornflow-server/cornflow/shared/const.py
Due: server

Update app and tests to use CONDITIONAL_ENDPOINTS_URLS for signup and login endpoints
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/tests/unit/test_get_resources.py
Due: server

bump version
  cornflow-server/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/setup.py
  docs/source/conf.py
  libs/client/setup.py
Due: server, client

bump version
  cornflow-server/requirements.txt
Due: server

Update app.py to use CONDITIONAL_ENDPOINTS_URLS for login endpoint
  cornflow-server/cornflow/app.py
Due: server

add error
  libs/client/cornflow_client/core/application.py
Due: client

implement check structure
  libs/client/cornflow_client/core/application.py
Due: client

New approach
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/tests/unit/test_core.py
Due: client

new approach
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/instance.py
  libs/client/cornflow_client/tests/unit/test_core.py
Due: client

Add log
  libs/client/cornflow_client/core/experiment.py
Due: client

Add log to instance
  libs/client/cornflow_client/core/instance.py
Due: client

Add missing test
  libs/client/cornflow_client/tests/unit/test_core.py
Due: client

Add using LaunchChecksMixin to get rid of code dublicates
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/instance.py
  libs/client/cornflow_client/core/instance_solution.py
Due: client

refactor exception handling test to remove duplicates and class definition in loop
  libs/client/cornflow_client/tests/unit/test_core.py
Due: client

change support class naming to teh CheckCore
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/instance.py
  libs/client/cornflow_client/core/instance_solution.py
Due: client

Feature/check solution error (#694)
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/instance.py
  libs/client/cornflow_client/core/instance_solution.py
  libs/client/cornflow_client/tests/unit/test_core.py
Due: client

client bump version
  libs/client/changelog.rst
  libs/client/setup.py
Due: client

server bump version
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
Due: server

Release/v1.2.6 (#696)
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  libs/client/changelog.rst
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
  libs/client/cornflow_client/core/instance.py
  libs/client/cornflow_client/core/instance_solution.py
  libs/client/cornflow_client/tests/unit/test_core.py
  libs/client/setup.py
Due: server, client

small fix for tests
  cornflow-server/cornflow/endpoints/execution.py
Due: server

add missing constants
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_instances.py
Due: server

small error
  cornflow-server/cornflow/tests/unit/test_instances.py
Due: none

add loggin
  cornflow-server/cornflow/endpoints/execution.py
Due: server

solve some problems
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/models/base_data_model.py
Due: server

Add more logs
  cornflow-server/cornflow/models/base_data_model.py
Due: server

prints
  cornflow-server/cornflow/models/base_data_model.py
Due: server

Path conditions:
  server: any of: cornflow-server/**, but not: cornflow-server/cornflow/tests/**
  client: any of: libs/client/**, but not: libs/client/tests/**
  dags: any of: cornflow-dags/**, but not: cornflow-dags/tests/**
