Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

small change
  cornflow-server/cornflow/endpoints/execution.py
Due: server

Upload new action
  .github/workflows/sonarqube.yml
Due: none

Upload new action (#624)
  .github/workflows/sonarqube.yml
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

Updated action
  .github/workflows/sonarqube.yml
Due: none

Feature/sonarqube project (#625)
  .github/workflows/sonarqube.yml
Due: none

Bugfix action
  .github/workflows/sonarqube.yml
Due: none

Bugfix action (#626)
  .github/workflows/sonarqube.yml
Due: none

Added Alejandra Galan as codeowner of the project
  .github/CODEOWNERS
Due: none

Added Alejandra Galan as codeowner of the project (#627)
  .github/CODEOWNERS
Due: none

First round of sonarqube changes. Should cover the main security issue and the reliability ones
  .github/workflows/sonarqube.yml
  cornflow-dags/DAG/solve_model_dag/__init__.py
  cornflow-dags/DAG/vrp/core/experiment.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/utils_tables.py
  cornflow-server/cornflow/shared/validators.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_alarms.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
  cornflow-server/examples/basic_functions.py
  cornflow-server/examples/pulp_varnames.py
Due: server, dags

missing sonar properties file
  sonar-project.properties
Due: none

small change
  cornflow-server/cornflow/cli/service.py
Due: server

More changes due to soanrqube analysis
  cornflow-dags/DAG/facility_location/solvers/PyomoSolver.py
  cornflow-dags/DAG/roadef/solvers/PeriodicMIP.py
  cornflow-server/cornflow/commands/users.py
  libs/client/cornflow_client/airflow/api.py
Due: server, client, dags

adding missing migration
  cornflow-server/cornflow/migrations/versions/999b98e24225.py
Due: server

Missing file
  cornflow-dags/DAG/facility_location/core/const.py
Due: dags

More changes due to sonarqube
  cornflow-dags/DAG/solve_model_dag/__init__.py
  cornflow-dags/DAG/two_dimension_bin_packing/core/instance.py
  cornflow-server/airflow_config/scripts/solvers/get_highs.py
  cornflow-server/airflow_config/scripts/solvers/get_mipcl.py
  cornflow-server/cornflow/cli/__init__.py
  cornflow-server/cornflow/cli/actions.py
  cornflow-server/cornflow/cli/config.py
  cornflow-server/cornflow/cli/migrations.py
  cornflow-server/cornflow/cli/permissions.py
  cornflow-server/cornflow/cli/roles.py
  cornflow-server/cornflow/cli/schemas.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/cli/users.py
  cornflow-server/cornflow/cli/views.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_cli.py
Due: server, dags

bump version to 2.0.0a12
  cornflow-server/Dockerfile
  cornflow-server/cornflow/shared/databricks.py
  cornflow-server/setup.py
  libs/client/setup.py
Due: server, client

fixed error
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/commands/users.py
  cornflow-server/cornflow/tests/unit/test_cli.py
Due: server

bump version server 2.0.0a12
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/requirements.txt
Due: server

Fixed error
  cornflow-server/cornflow/commands/users.py
Due: server

fixed tests
  cornflow-server/cornflow/tests/unit/test_cli.py
Due: none

First round of sonarqube changes. Should cover the main security issu… (#628)
  .github/workflows/sonarqube.yml
  cornflow-dags/DAG/facility_location/core/const.py
  cornflow-dags/DAG/facility_location/solvers/PyomoSolver.py
  cornflow-dags/DAG/roadef/solvers/PeriodicMIP.py
  cornflow-dags/DAG/solve_model_dag/__init__.py
  cornflow-dags/DAG/two_dimension_bin_packing/core/instance.py
  cornflow-dags/DAG/vrp/core/experiment.py
  cornflow-server/airflow_config/scripts/solvers/get_highs.py
  cornflow-server/airflow_config/scripts/solvers/get_mipcl.py
  cornflow-server/cornflow/cli/__init__.py
  cornflow-server/cornflow/cli/actions.py
  cornflow-server/cornflow/cli/config.py
  cornflow-server/cornflow/cli/migrations.py
  cornflow-server/cornflow/cli/permissions.py
  cornflow-server/cornflow/cli/roles.py
  cornflow-server/cornflow/cli/schemas.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/cli/users.py
  cornflow-server/cornflow/cli/views.py
  cornflow-server/cornflow/commands/users.py
  cornflow-server/cornflow/shared/authentication/auth.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/shared/utils_tables.py
  cornflow-server/cornflow/shared/validators.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_alarms.py
  cornflow-server/cornflow/tests/unit/test_executions.py
  cornflow-server/cornflow/tests/unit/test_log_in.py
  cornflow-server/examples/basic_functions.py
  cornflow-server/examples/pulp_varnames.py
  libs/client/cornflow_client/airflow/api.py
  sonar-project.properties
Due: server, client, dags

Small debugging for github action
  .github/workflows/sonarqube.yml
  .github/workflows/test_cornflow_client.yml
  .github/workflows/test_cornflow_dags.yml
  .github/workflows/test_cornflow_server.yml
Due: none

Wrong paths
  .github/workflows/sonarqube.yml
Due: none

Try new form of coverage report generation
  .github/workflows/sonarqube.yml
  sonar-project.properties
Due: none

Fixed sonarqube properties file
  sonar-project.properties
Due: none
