Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

more prints
  cornflow-server/cornflow/endpoints/execution.py
Due: server

logs
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/models/base_data_model.py
Due: server

bump version
  cornflow-server/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/setup.py
Due: server

solve problem
  cornflow-server/cornflow/endpoints/meta_resource.py
Due: server

bump version client
  libs/client/setup.py
Due: client

str to int
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/endpoints/meta_resource.py
Due: server

clean code
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/meta_resource.py
  cornflow-server/cornflow/models/base_data_model.py
Due: server

cleaning
  cornflow-server/cornflow/endpoints/execution.py
Due: server

small fix for tests (#697)
  cornflow-server/Dockerfile
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/meta_resource.py
  cornflow-server/cornflow/models/base_data_model.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/tests/unit/test_instances.py
  cornflow-server/setup.py
  libs/client/setup.py
Due: server, client

bump version - client
  cornflow-server/Dockerfile
  cornflow-server/cornflow/shared/const.py
  cornflow-server/setup.py
  libs/client/setup.py
Due: server, client

bump version - server
  cornflow-server/requirements.txt
  docs/source/conf.py
Due: server

Missing change for put endpoint
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/models/base_data_model.py
Due: server

keep as it was
  cornflow-server/cornflow/endpoints/execution.py
Due: server

update state when using detail endpoint
  cornflow-server/cornflow/endpoints/execution.py
Due: server

Improve deleting execution with stop dag in af before delete
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: server

Refactor execution deletion to use disable method instead of delete
  cornflow-server/cornflow/endpoints/execution.py
Due: server

primeras pruebas
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/health.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/shared/exceptions.py
  docker-compose-cornflow-celery.yml
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/pulse/_init_.py
  libs/client/cornflow_client/pulse/api.py
Due: server, client

add missing requirement
  cornflow-server/requirements.txt
Due: server

add missing requirement (#701)
  cornflow-server/requirements.txt
Due: server

Feature/update develop version (#700)
  cornflow-server/Dockerfile
  cornflow-server/airflow_config/Dockerfile
  cornflow-server/changelog.rst
  cornflow-server/cornflow/shared/const.py
  cornflow-server/requirements.txt
  cornflow-server/setup.py
  docker-compose-cornflow-celery.yml
  docker-compose-cornflow-ldap.yml
  docker-compose.yml
  docs/source/conf.py
  libs/client/changelog.rst
  libs/client/setup.py
Due: server, client

Update requirements.txt
  cornflow-server/requirements.txt
Due: server

fake_commit
  cornflow-server/cornflow/endpoints/health.py
Due: server

update flask to 3.0.0
  cornflow-server/requirements.txt
Due: server

update Flask-SQLAlchemy>=3.1.1
  cornflow-server/requirements.txt
Due: server

update SQLAlchemy>=2.0.16
  cornflow-server/requirements.txt
Due: server

modify helmchart for more flexible deployment
  helm-charts/cornflow/templates/cornflow-deployment.yaml
  helm-charts/cornflow/values.yaml
Due: none

try req
  cornflow-server/requirements.txt
Due: server

Conexion con Pulse
  .dockerignore
  cornflow-server/Dockerfile
  cornflow-server/cornflow/config.py
  cornflow-server/cornflow/endpoints/health.py
  docker-compose-cornflow-celery.yml
  libs/client/cornflow_client/constants.py
  libs/client/cornflow_client/pulse/api.py
Due: server, client

fix docker image to match baobab image
  helm-charts/cornflow/values.yaml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update requirements.txt
  libs/client/requirements.txt
Due: client

Add new KPIs column
  cornflow-server/cornflow/models/execution.py
Due: server

part 1
  cornflow-dags/tests/unit/test_dags.py
  cornflow-dags/tests/unit/test_rostering.py
  cornflow-server/cornflow/endpoints/dag.py
  cornflow-server/cornflow/schemas/execution.py
  libs/client/cornflow_client/airflow/dag_utilities.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/tests/unit/test_core.py
Due: server, client

Add new airflow image for kubernetes production
  cornflow-server/airflow_config/Dockerfile.k8s
Due: server

Partial commit
  cornflow-dags/DAG/activate_checks_dag.py
  cornflow-dags/DAG/activate_dags.py
  cornflow-dags/DAG/update_all_schemas.py
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/shared/const.py
  libs/client/cornflow_client/airflow/dag_utilities.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/experiment.py
Due: server, client, dags

Path conditions:
  server: any of: cornflow-server/**, but not: cornflow-server/cornflow/tests/**
  client: any of: libs/client/**, but not: libs/client/tests/**
  dags: any of: cornflow-dags/**, but not: cornflow-dags/tests/**
