Repository baobabsoluciones/cornflow: changes, and which Codecov flags are due for each by the changed paths.
All: server, client, dags

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flag_management:
  default_rules: 
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 90%
  individual_flags: 
    - name: server-tests  
      paths: 
        - cornflow-server/
    - name: client-tests 
      paths: 
        - libs/client/
    - name: dags-tests 
      paths: 
        - cornflow-dags/
      
comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        branches:
          - "!master"
  individual_components:
    - component_id: server
      name: server
      paths:
        - cornflow-server/**
        - "!cornflow-server/cornflow/tests/**"
    - component_id: client
      name: client
      paths:
        - libs/client/**
        - "!libs/client/tests/**"
    - component_id: dags
      name: dags
      paths:
        - cornflow-dags/**
        - "!cornflow-dags/tests/**"

Fixed sonarqube properties file
  sonar-project.properties
Due: none

25 more issues fixed?
  cornflow-dags/DAG/bar_cutting/solvers/column_generation.py
  cornflow-dags/DAG/roadef/solvers/PeriodicMIP.py
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/cli/tools/api_generator.py
  cornflow-server/cornflow/cli/tools/endpoint_tools.py
  cornflow-server/cornflow/cli/tools/models_tools.py
  cornflow-server/cornflow/cli/tools/schema_generator.py
  cornflow-server/cornflow/commands/users.py
Due: server, dags

More issues solved
  cornflow-server/cornflow/cli/tools/schemas_tools.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/instance_solution.py
  libs/client/cornflow_client/core/read_tools.py
Due: server, client

More changes needed for the issues
  cornflow-server/cornflow/commands/dag.py
  cornflow-server/cornflow/commands/schemas.py
  cornflow-server/cornflow/endpoints/dag.py
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/example_data.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/instance.py
  cornflow-server/cornflow/endpoints/meta_resource.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/shared/exceptions.py
  libs/client/cornflow_client/core/read_tools.py
Due: server, client

fixed a couple of errors on tests due to refactoring
  cornflow-server/cornflow/endpoints/instance.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_cases.py
  cornflow-server/cornflow/tests/unit/test_tables.py
Due: server

Feature/sonarqube issues 2 (#630)
  cornflow-dags/DAG/bar_cutting/solvers/column_generation.py
  cornflow-dags/DAG/roadef/solvers/PeriodicMIP.py
  cornflow-server/cornflow/app.py
  cornflow-server/cornflow/cli/tools/api_generator.py
  cornflow-server/cornflow/cli/tools/endpoint_tools.py
  cornflow-server/cornflow/cli/tools/models_tools.py
  cornflow-server/cornflow/cli/tools/schema_generator.py
  cornflow-server/cornflow/cli/tools/schemas_tools.py
  cornflow-server/cornflow/commands/dag.py
  cornflow-server/cornflow/commands/schemas.py
  cornflow-server/cornflow/commands/users.py
  cornflow-server/cornflow/endpoints/dag.py
  cornflow-server/cornflow/endpoints/data_check.py
  cornflow-server/cornflow/endpoints/example_data.py
  cornflow-server/cornflow/endpoints/execution.py
  cornflow-server/cornflow/endpoints/instance.py
  cornflow-server/cornflow/endpoints/meta_resource.py
  cornflow-server/cornflow/shared/const.py
  cornflow-server/cornflow/shared/exceptions.py
  cornflow-server/cornflow/tests/custom_test_case.py
  cornflow-server/cornflow/tests/unit/test_cases.py
  cornflow-server/cornflow/tests/unit/test_tables.py
  libs/client/cornflow_client/core/application.py
  libs/client/cornflow_client/core/instance_solution.py
  libs/client/cornflow_client/core/read_tools.py
Due: server, client, dags

Corrected a bunch of more issues
  cornflow-dags/DAG/activate_dags.py
  cornflow-dags/DAG/bar_cutting/solvers/column_generation.py
  cornflow-dags/DAG/bar_cutting/solvers/mip_model.py
  cornflow-dags/DAG/facility_location/core/instance.py
  cornflow-dags/DAG/facility_location/solvers/PyomoSolver.py
  cornflow-dags/DAG/graph_coloring/__init__.py
  cornflow-dags/DAG/knapsack/solvers/DynamicSolver.py
  cornflow-dags/DAG/roadef/core/experiment.py
  cornflow-server/cornflow/cli/migrations.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/cli/tools/endpoint_tools.py
  cornflow-server/cornflow/cli/tools/schema_generator.py
  cornflow-server/cornflow/cli/users.py
  libs/client/cornflow_client/core/application.py
  sonar-project.properties
Due: server, client, dags

Corrected a bunch of more issues (#631)
  cornflow-dags/DAG/activate_dags.py
  cornflow-dags/DAG/bar_cutting/solvers/column_generation.py
  cornflow-dags/DAG/bar_cutting/solvers/mip_model.py
  cornflow-dags/DAG/facility_location/core/instance.py
  cornflow-dags/DAG/facility_location/solvers/PyomoSolver.py
  cornflow-dags/DAG/graph_coloring/__init__.py
  cornflow-dags/DAG/knapsack/solvers/DynamicSolver.py
  cornflow-dags/DAG/roadef/core/experiment.py
  cornflow-server/cornflow/cli/migrations.py
  cornflow-server/cornflow/cli/service.py
  cornflow-server/cornflow/cli/tools/endpoint_tools.py
  cornflow-server/cornflow/cli/tools/schema_generator.py
  cornflow-server/cornflow/cli/users.py
  libs/client/cornflow_client/core/application.py
  sonar-project.properties
Due: server, client, dags

Add FastAPI migration roadmap and initial project structure
  cornflow-server/FASTAPI_MIGRATION_ROADMAP.md
  cornflow-server/cornflow_f/README.md
  cornflow-server/cornflow_f/__init__.py
  cornflow-server/cornflow_f/alembic.ini
  cornflow-server/cornflow_f/alembic/env.py
  cornflow-server/cornflow_f/alembic/script.py.mako
  cornflow-server/cornflow_f/alembic/versions/82d9aa364bda_create_users_table.py
  cornflow-server/cornflow_f/database.py
  cornflow-server/cornflow_f/main.py
  cornflow-server/cornflow_f/models.py
  cornflow-server/cornflow_f/schemas.py
  cornflow-server/cornflow_f/security.py
  cornflow-server/cornflow_f/tests/__init__.py
  cornflow-server/cornflow_f/tests/conftest.py
  cornflow-server/cornflow_f/tests/data/const.py
  cornflow-server/cornflow_f/tests/unit/__init__.py
  cornflow-server/cornflow_f/tests/unit/test_health.py
  cornflow-server/cornflow_f/tests/unit/test_security.py
  cornflow-server/cornflow_f/tests/unit/test_users.py
  cornflow-server/cornflow_f/views/__init__.py
  cornflow-server/cornflow_f/views/health.py
  cornflow-server/cornflow_f/views/users.py
  cornflow-server/pytest.ini
  cornflow-server/requirements-fastapi.txt
Due: server

Implement user model, schemas, and initial user signup endpoint
  cornflow-server/FASTAPI_MIGRATION_ROADMAP.md
  cornflow-server/cornflow_f/main.py
  cornflow-server/cornflow_f/models/__init__.py
  cornflow-server/cornflow_f/models/user.py
  cornflow-server/cornflow_f/schemas/__init__.py
  cornflow-server/cornflow_f/schemas/user.py
  cornflow-server/cornflow_f/views/users.py
Due: server

Add configuration module and authentication features
  cornflow-server/cornflow_f/config.py
  cornflow-server/cornflow_f/database.py
  cornflow-server/cornflow_f/main.py
  cornflow-server/cornflow_f/schemas/auth.py
  cornflow-server/cornflow_f/tests/conftest.py
  cornflow-server/cornflow_f/tests/unit/test_auth.py
  cornflow-server/cornflow_f/views/auth.py
Due: server

Enhance user management and authentication features
  cornflow-server/cornflow_f/schemas/__init__.py
  cornflow-server/cornflow_f/schemas/auth.py
  cornflow-server/cornflow_f/schemas/user.py
  cornflow-server/cornflow_f/tests/unit/test_auth.py
  cornflow-server/cornflow_f/tests/unit/test_users.py
  cornflow-server/cornflow_f/views/auth.py
  cornflow-server/cornflow_f/views/users.py
Due: server

Add base model for database operations and enhance user model
  cornflow-server/cornflow_f/models/base.py
  cornflow-server/cornflow_f/models/user.py
  cornflow-server/cornflow_f/tests/data/const.py
  cornflow-server/cornflow_f/tests/unit/test_auth.py
  cornflow-server/cornflow_f/tests/unit/test_security.py
  cornflow-server/cornflow_f/tests/unit/test_users.py
  cornflow-server/cornflow_f/views/auth.py
Due: server

Add CLI for user and role management, and enhance requirements
  cornflow-server/cornflow_f/cli.py
  cornflow-server/cornflow_f/models/role.py
  cornflow-server/cornflow_f/models/user.py
  cornflow-server/cornflow_f/models/user_role.py
  cornflow-server/cornflow_f/shared/const.py
  cornflow-server/cornflow_f/tests/unit/test_cli.py
  cornflow-server/requirements-fastapi.txt
Due: server

Implement role management features and enhance application structure
  cornflow-server/cornflow_f/alembic/env.py
  cornflow-server/cornflow_f/alembic/versions/82d9aa364bda_create_users_table.py
  cornflow-server/cornflow_f/config.py
  cornflow-server/cornflow_f/main.py
  cornflow-server/cornflow_f/models/__init__.py
  cornflow-server/cornflow_f/models/base.py
  cornflow-server/cornflow_f/models/role.py
  cornflow-server/cornflow_f/models/user.py
  cornflow-server/cornflow_f/schemas/role.py
  cornflow-server/cornflow_f/shared/const.py
  cornflow-server/cornflow_f/tests/conftest.py
  cornflow-server/cornflow_f/tests/data/const.py
  cornflow-server/cornflow_f/tests/unit/fixtures.py
  cornflow-server/cornflow_f/tests/unit/test_auth.py
  cornflow-server/cornflow_f/tests/unit/test_health.py
  cornflow-server/cornflow_f/tests/unit/test_role.py
  cornflow-server/cornflow_f/tests/unit/test_users.py
  cornflow-server/cornflow_f/views/auth.py
  cornflow-server/cornflow_f/views/health.py
  cornflow-server/cornflow_f/views/role.py
  cornflow-server/cornflow_f/views/users.py
Due: server

Add user retrieval functionality and utility functions for database queries
  cornflow-server/cornflow_f/tests/unit/test_users.py
  cornflow-server/cornflow_f/utils/query_utils.py
  cornflow-server/cornflow_f/views/role.py
  cornflow-server/cornflow_f/views/users.py
Due: server

Refactor CLI and enhance permission management features
  cornflow-server/cornflow/tests/unit/test_cli.py
  cornflow-server/cornflow_f/cli.py
  cornflow-server/cornflow_f/cli/__init__.py
  cornflow-server/cornflow_f/cli/assignments.py
  cornflow-server/cornflow_f/cli/main.py
  cornflow-server/cornflow_f/cli/permissions.py
  cornflow-server/cornflow_f/cli/roles.py
  cornflow-server/cornflow_f/cli/users.py
  cornflow-server/cornflow_f/models/__init__.py
  cornflow-server/cornflow_f/models/action.py
  cornflow-server/cornflow_f/models/permission.py
  cornflow-server/cornflow_f/models/view.py
  cornflow-server/cornflow_f/shared/const.py
  cornflow-server/cornflow_f/tests/unit/test_cli.py
Due: server

Enhance permission management and update health check endpoints
  cornflow-server/cornflow_f/cli/permissions.py
  cornflow-server/cornflow_f/shared/const.py
  cornflow-server/cornflow_f/tests/unit/test_cli.py
  cornflow-server/cornflow_f/tests/unit/test_health.py
  cornflow-server/cornflow_f/views/health.py
Due: server

Refactor BaseModel documentation and enhance role deletion logic
  cornflow-server/cornflow_f/models/base.py
  cornflow-server/cornflow_f/tests/integration/__init__.py
  cornflow-server/cornflow_f/tests/integration/test_role_permission_cascade.py
  cornflow-server/cornflow_f/views/role.py
Due: server

Add shared test fixtures for improved test organization
  cornflow-server/cornflow_f/tests/fixtures.py
  cornflow-server/cornflow_f/tests/integration/test_role_permission_cascade.py
  cornflow-server/cornflow_f/tests/unit/test_auth.py
  cornflow-server/cornflow_f/tests/unit/test_cli.py
  cornflow-server/cornflow_f/tests/unit/test_role.py
  cornflow-server/cornflow_f/tests/unit/test_users.py
Due: server

Enhance user profile update permissions
  cornflow-server/cornflow_f/views/users.py
Due: server

New functionality. Edit instance id on execution. Test
  cornflow-server/cornflow/schemas/execution.py
  cornflow-server/cornflow/tests/const.py
  cornflow-server/cornflow/tests/data/edit_execution_solution.json
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: server

Small change
  cornflow-server/cornflow/tests/unit/test_executions.py
Due: none
